*,*::after,*::before{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

/*---------------------Переменные-----------------------*/

@index: calc(1vh + 1vw);

// @media (max-width:720px){
//     @index: calc(0.5vh + 0.5vw)
// }

@color-orange: #FF4612;
@color-white: #FFFFFF;
@color-black: #101922;
@color-grey: #8F969E;
@color-error: #CA0000;


@cursor_trans: translate3d(calc(var(--move-x) / -5), calc(var(--move-y) / -5), 0);
@transition-cursor: 1.25s cubic-bezier(.2, .5, 0, 1);
@transition-cursor-image: 2s cubic-bezier(.05, .5, 0, 1);

@width: calc(@index * 14);
@height: calc(@index * 8);

@keyframes opp{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    
}



@transit: 2s cubic-bezier(.05, .5, 0, 1);


@font-face {
    font-family: playfair_reg;
    src: url('fonts/PlayfairDisplay-Regular.woff');

}

@font-face {
    font-family: playfair_it;
    src: url('fonts/PlayfairDisplay-Italic.woff');

}

@font-face {
    font-family: HelveticaL;
    src: url('fonts/HelveticaLight.woff');
}
.play(){
    font-family: playfair_reg;
}
.playit(){
    font-family: playfair_it;
}
.hel(){
    font-family: HelveticaL;
}


body{
    background-color: @color-black;
    overflow-x: hidden;
    height: 100%;
}

@keyframes animCTA {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}




.cta{
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 16px;
    z-index: 1;
    @media(max-width:1600px){
        margin-top: 18%;
        margin-left: -25%;
    }
    @media(max-width:980px){
        margin-top: 5%;
        margin-left: 1%;
    }
    &:hover span{
        color: @color-orange;
        border-bottom: 1px solid @color-orange;
    }
    span{
        white-space: nowrap;
        letter-spacing: 0;
        color: @color-white;
        text-transform: uppercase;
        .hel();
        font-size: 20px;
        @media(max-width:1600px){
            font-size: calc(18px + (20 - 18) * ((100vw - 320px) / (1600 - 320px)));
        }
        @media(max-width:540px){
            font-size: calc(@index*1);
        }
        @media(max-width:440px){
            
        }
        @media(max-width:360px){
            
        }
        //font-size: calc(@index*.7);
        padding: 5px 0;
        border-bottom: 1px solid @color-white;
        transition: all 0.3s ease;
    }
    .svgs{
        @media(max-width: 1024px){
            transform: scale(.8);
        }
        .bukCTA{
            animation: animCTA 10s infinite linear;
        }
        .arrowCTA{
            position: absolute;
            animation: none !important;
        }
    }

}





.btn-secondary{
    padding: 14px 40px;
    text-decoration: none;
    background-color: none;
    color: @color-orange;
    text-align: center;
    text-transform: uppercase;
    .hel();
    font-weight: 100;
    border: 1px solid @color-orange;
    border-radius: 30px;
    max-width: 315px;
    white-space: nowrap;
    transition: all .2s ease;
    &:hover{
        background-color: @color-orange;
        color: @color-white;
    }
    &:active{
        color: @color-black;
    }
    &-disabled{
        opacity: .6;
        pointer-events: none;
    }
}



/*----------------Меню----------------*/



.container{
    max-width: 1600px;
    margin: calc(@index*2) auto;
    position: relative;
    @media(max-width:1600px){
        padding: 0 calc(@index*2);
    }
}

.dark{
    background-color: @color-black;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1899;
    opacity: 0;
    transition: all .3s ease;
    pointer-events: none;
}
.show-dark{
    opacity: 1;
}

.dark2{
    background-color: @color-black;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    opacity: 1;
    transition: all .3s ease;
    pointer-events: none;
    // animation: show 1s ease;
    // animation-delay: 1s;
}
// @keyframes show {
//     from { opacity: 1; }
//     to { opacity: 0; }
//   }

.header{
    top: 00%;
    z-index: 1999;
    position: fixed;
    width: 100%;
    will-change: transform;
    nav{
        .menu{
            transition: all .5s ease;
            opacity: 0;
            top:calc(@index*2.5);
            position: absolute;
            padding: calc(@index * 2) 0;
            padding-top: calc(@index * 2);
            background-color: @color-black;
            width: 120%;
            overflow: hide;
            pointer-events: none;
            .menu-footer{
                margin-top: 0%;
                width: 98%;
                @media(max-width:1600px){
                    width: 90%;
                }
                @media(max-width:640px){
                    flex-direction: column;
                    align-items: flex-start;
                }
                .cta{
                    margin-top: 0;
                    span{
                        font-size: calc(@index*.7);
                    }
                    .svgs{
                        
                    }
                }
                ul{
                    list-style: none;
                    display: flex;
                    gap: calc(@index*2);
                    @media(max-width:360px){
                        gap: calc(@index*1);
                    }
                    li{
                        a{
                            display: inline-block;
                            font-size: calc(@index * 1.4);
                            text-transform: uppercase;
                            text-decoration: none;
                            letter-spacing: 0.02em;
                            color: @color-grey;
                            transition: all .2s ease;
                            .playit();
                            &::after{
                                background-color: @color-white;
                                display: block;
                                content: "";
                                height: 2px;
                                width: 0%;
                                transition: width .3s ease;
                            }
                            &:hover{
                                color: @color-white;
                                // &::after{
                                //     width: 100%;
                                // }
                            }
                        }
                    }
                }
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .lists{
                display: flex;
                gap: 60px;
                align-items: center;
            }
            .ul2{
                @media(max-width:540px){
                    display: none;
                }
                width: 100%;
                opacity: 0;
                list-style: none;
                li{
                    width: 100%;
                    a{
                        width: 100%;
                        display: block;
                        border-bottom: 1px solid @color-grey;
                        &:hover .cursor{
                            height: @height;
                        }

                        .cursor{
                            pointer-events: none;
                            position: fixed;
                            width: @width;
                            top: calc(@height * -.5);
                            left: calc(@width * -.5);
                            overflow: hidden;
                            transform: translate3d(var(--move-x), var(--move-y), 0);
                            transition: transform @transition-cursor-image, height .5s ease;
                            will-change: transform;
                            z-index: 0;
                            height: 0;
                            &__image{
                                position: relative;
                                width: calc(@width * 1.5);
                                height: calc(@height * 1.5);
                                top: calc(@height * -.25);
                                left: calc(@width * -.04);
                                background-size: cover;
                                background-position: center;
                                transform: translate3d(calc(var(--move-x) / -10), calc(var(--move-y) / -10), 0);
                                transition: transform @transition-cursor-image;
                                will-change: transform;
                            }
                        }

                        span{
                            vertical-align:top;
                            font-size: calc(@index);
                        }
                        padding: calc(@index*1.5) 0;
                        font-size: calc(@index * 1.05);
                        text-decoration: none;
                        color: @color-grey;
                        text-transform: uppercase;
                        .hel();
                        transition: all .3s ease;
                        letter-spacing: 0.02em;
                        &:hover{
                            color: @color-white;
                        }
                        // &::after{
                        //     margin-top: calc(@index*2);
                        //     background-color: @color-white;
                        //     display: block;
                        //     content: "";
                        //     height: 1px;
                        //     width: calc(@index*64);
                        //     transition: width .3s ease;
                        // }
                    }
                }
            }
            .ul1{
                list-style: none;
                .active{
                    display: block !important;
                }
                .ul2_mobile{
                    display: none;
                    list-style: none;
                    width: 100%;
                    opacity: 1;
                    list-style: none;
                li{
                    width: 100%;
                    a{
                        width: 100%;
                        display: block;
                        border-bottom: 1px solid @color-grey;
                        span{
                            vertical-align:top;
                            font-size: calc(@index);
                        }
                        padding: calc(@index*1.5) 0;
                        font-size: calc(@index * 1.05);
                        text-decoration: none;
                        color: @color-grey;
                        text-transform: uppercase;
                        .hel();
                        transition: all .3s ease;
                        letter-spacing: 0.02em;
                        &:hover{
                            color: @color-white;
                        }
                        // &::after{
                        //     margin-top: calc(@index*2);
                        //     background-color: @color-white;
                        //     display: block;
                        //     content: "";
                        //     height: 1px;
                        //     width: calc(@index*64);
                        //     transition: width .3s ease;
                        // }
                    }
                }
                }
                li{
                    margin-bottom: calc(@index*1.3);

                    // .collections{
                    //     &:hover .ul2{
                    //         opacity: 1;
                    //     }
                    // }
                    a{
                        display: inline-block;
                        font-size: calc(@index * 1.4);
                        text-transform: uppercase;
                        text-decoration: none;
                        letter-spacing: 0.02em;
                        color: @color-grey;
                        transition: all .2s ease;
                        .play();
                        &::after{
                            background-color: @color-white;
                            display: block;
                            content: "";
                            height: 2px;
                            width: 0%;
                            transition: width .3s ease;
                        }
                        &:hover{
                            //color: @color-white;
                        }
                        
                    }
                    .a-hover::after{
                        background-color: @color-white;
                        display: block;
                        content: "";
                        height: 2px;
                        width: 100%;
                        transition: width .3s ease;
                    }
                }
            }
        }
        .menu-active{
            position: absolute;
            transition: all .5s ease;
            opacity: 1;
            width: 100%;
            height: calc(@index * 27);
            pointer-events: auto;
        }
        .logo{
            z-index: 1;
            width: calc(@index*9);
        }
        display: flex;
        justify-content: space-between;
        align-items: center;
        .burger{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            position: relative;
            input{
                display: block;
                width: 48px;
                height: 35px;
                position: absolute;
  
                cursor: pointer;
  
                opacity: 0; /* hide this */
                z-index: 2; /* and place it over the hamburger */
  
                -webkit-touch-callout: none;
                &:checked ~ span{
                    opacity: 1;
                    transform: rotate(45deg) translate(-20px, -17px);
                    width: 48px;
                }
                &:checked ~ span:nth-last-child(2){
                    opacity: 0;
                    transform: rotate(0deg) scale(0.2, 0.2);
                    width: 48px;
                }
                &:checked ~ span:nth-last-child(3){
                    opacity: 1;
                    width: 48px;
                    transform: rotate(-45deg) translate(-20px, 17px);
                }
                
            }
            &:hover span:nth-last-child(2){
                width: 48px;
            }
            &:hover span{
                width: 48px;
            }
            span{
                display: block;
                width: 14px;
                height: 2px;
                margin-bottom: 8px;
                position: relative;
                background: #cdcdcd;
                transition: .3s ease;
                transform-origin: 0% 0%;
                &:nth-last-child(2){
                    width: 28px;
                    transform-origin: 0% 100%;
                }
                &:nth-last-child(3){
                    width: 48px;
                }
            }
        }
    }
}



/*----------------------block-1--------------------*/

#block-1{
    margin-top: 120px;
    .block-1__header{
        margin-top: 300px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media(max-width:980px){
            flex-direction: column;
            align-items: flex-start;
        }
        @media(max-width:999px){
            margin-top:20%;  
        }
    }
    h1{
        padding-left: 5px;
        font-size: calc(@index*4.2);
        @media(max-width:1600px){

        }
        @media(max-width:900px){
            font-size: calc(@index*3.6);
        }
        @media(max-width:640px){
            font-size: calc(@index*3.2);
        }
        @media(max-width:540px){
            font-size: calc(@index*2.7);
        }
        @media(max-width:440px){
            font-size: calc(@index*2.3);
        }
        @media(max-width:360px){
            font-size: calc(@index*2);
        }
        width: min-content;
        line-height: .99;
        .play();
        font-weight: 100;
        text-transform: uppercase;
        color: @color-white;
        .ital{
            .playit();
            color: @color-orange;
        }
        will-change: transform;

    }
    .images{
        margin-top:60%;
        display: flex;
        width: 100%;
        justify-content: space-between;
        will-change: transform;
        @media(max-width:999px){
            margin-top:10%;
        }
        .image{
            display: flex;
            width: calc(@index*8.5);
            height: calc(@index*10);
            flex-direction: column;
            gap: 20px;
            @media(max-width:999px){
                &:nth-last-child(1){
                    margin-top: 20px;
                }
                &:nth-last-child(3){
                    margin-top: 100px;
                }
            }
            @media(max-width:640px){
                &:nth-last-child(1){
                    display: none;
                }
            }
            @media(max-width:440px){
                &:nth-last-child(3){
                    display: none;
                }
            }
            &:nth-last-child(3){
                width: calc(@index*6);
                height: calc(@index*10.5);
            }
            &:nth-last-child(2){
                width: calc(@index*10.6);
                height: calc(@index*18.6);;
            }
            &:nth-last-child(1){
                width: calc(@index*8.6);
                height: calc(@index*12.6);;
            }
            p{
                color: @color-white;
                .hel();
                font-weight: 100;
                font-size: calc(@index*.7);
            }
            a{
                overflow: hidden;
                #img1{
                    
                }
                #img2{
                    width: calc(@index*6.6);
                }
                #img3{
                    width: calc(@index*11.6);
                }
                #img4{
                    width: calc(@index*10.6);
                }
                .img-block1{
                    position: relative;
                    // top: -50%;
                    // left: -50%;
                    @moveX: calc(var(--move-x) * -1);
                    @moveY: calc(var(--move-y) * -1);
                    transform: translate3d(calc(@moveX * 0.01), calc(@moveY * 0.01), 0);
                    transition: all @transit;
                    will-change: transform;
                    &:hover{
                        transform: scale(1.1);
                    }

                }
            }
            }
        }
    }
    .offer{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    

    #block-2{
        margin-top: 1500px;
        color: @color-white;
        z-index: 1;
        p{
            font-size: 100px;
        }
        @media(max-width:999px){
            margin-top: 160px;
        }
    }



    .hide{
        opacity: 0;
        pointer-events: none !important;
    }


// ---------------------------------------------------- block - 2 ----------------------------------------------------------------

#block-2{
    .container{
        .img-block-2{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .img-1-block-2 img{
                
                width: calc(@index * 20);
                @media(max-width:999px){
                    margin-top: 60px;
                }
                
            }
            .img-2-block-2{
                margin-left: auto;
                
            }
            .img-2-block-2 img{
                
                width: calc(@index * 15);
                
            }
        }
        
        .title-block2{
            
            display: flex;
            flex-direction: column;
            .play();
                font-weight: normal;
                text-transform: uppercase;
                font-size:calc(@index * 3);
                white-space: nowrap;
            .first-row-block2, .second-row-block2{
                display: flex;
                margin:  0 auto;
                @media(max-width:999px){
                    margin:  0;
                }
            }
            .text-block2:nth-child(1){
            }
            
                
            .line, .line2{
                height: 1px;
                background-color: white;
                margin: auto 0;
                width: calc(@index * 30);
                @media (max-width:1000px){
                       width: 100%;
                }
            } 
        }
        .main-text-block2{
            //width: calc(@index * 10);
            @media(max-width:999px){
                margin: 60px 0;
            }
            
            .hel();
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-transform: uppercase;
            font-size: calc(@index * 1.4);
            line-height:calc(@index *1.5);
            font-weight: 100;
            .colored-t-b2{
                .play();
                color: #FF4612;
                font-style:italic;
            }
            @media (max-width:720px){
                font-size: calc(@index * 1.1);
            }
            @media (max-width:350px){
                font-size: calc(@index * 1);
            }
            
        }
    }
    
    @media (max-width:720px){
        .img-block-2{
            margin-top: 60px;
        }
    }
    @media (max-width:576px){
        .img-1-block-2{
            
            margin: 0 auto;
            margin-top: 100px;
        }
        .img-2-block-2{
            display: none;
        }
    }
    @media (max-width:420px){
        .img-1-block-2{
            
            margin: 0 auto;
            margin-top: 0px;
        }
        .img-2-block-2{
            display: none;
        }
    }
    
    
   
}



// ---------------------------------------------------- block - 3 ----------------------------------------------------------------
@block-3-adaptive-1600px: 1640px;
@block-3-adaptive-1450px: 1450px;
@block-3-adaptive-1280px: 1280px;
@block-3-adaptive-1170px: 1170px;
@block-3-adaptive-1020px: 1020px;
@block-3-adaptive-820px: 820px;
@block-3-adaptive-640px: 640px;

.block-3{
    margin-top: 200px;
    margin-bottom: 1000px;
    @media (max-width: 999px) {
        margin-bottom: 200px;
        margin-top: 300px;
    }
    @media (max-width: 768px) {
        margin-bottom: 200px;
        margin-top: 160px;
    }

    &-cta{
        text-decoration: none;
        display: flex;
        align-items: center;
        width: 200px;
        gap: 16px;
        z-index: 1;
        @media (max-width: @block-3-adaptive-640px) {
            margin-top: 390px;
        }
        &:hover span{
            color: @color-orange;
            border-bottom: 1px solid @color-orange;
        }
        span{
            white-space: nowrap;
            letter-spacing: 0;
            color: @color-white;
            text-transform: uppercase;
            .hel();
            font-size: 20px;
            //font-size: calc(@index*.7);
            padding: 5px 0;
            border-bottom: 1px solid @color-white;
            transition: all 0.3s ease;
        }
        .svgs{
            @media(max-width: 1024px){
                transform: scale(.8);
            }
            .bukCTA{
                animation: animCTA 10s infinite linear;
            }
            .arrowCTA{
                position: absolute;
                animation: none !important;
            }
        }
        
    }
    &-arrowCTA {
        position: absolute;
        margin-left: 40px;
        margin-top: 42px;

    }
    &-top_block, &-bottom_block {
        position: absolute;
        width: 100%;
        background-color: @color-black;
        @media (max-width: @block-3-adaptive-820px) {
            display: none;
        }
    }
    &-top_block {
        margin-top: -155px;
        z-index: -2;
        height: 200px;
        @media (max-width: 999px) {
            display: none;
        }
    }
    &-bottom_block {
        margin-top: 60px;
        z-index: -2;
        height: 200px;
        @media (max-width: 999px) {
            display: none;
        }
    }
    &-text {
        display: flex;
        color: #FFFFFF;
        .play();
        font-size: calc(@index * 3);
        text-transform: uppercase;
        display: flex;
        justify-content: space-between;
        &-right {
            background-color: @color-black;
            padding-right: 100%;
            @media (max-width: 999px) {
                padding-right: 0%;
            }
        }
        &-left {
            background-color: @color-black;
        }
        &-line {
            position: absolute;
            margin-top: calc(@index * 3 / 1.8);
            background-color: #FFFFFF;
            height: 3px;
            width: 100%;
            z-index: -1;
            @media (max-width: 999px) {
                width: 83%;
            }
        }
    }
    &-cards {
        z-index: -3;
        position: absolute;
        @media (max-width: @block-3-adaptive-820px) {
            display: none;
        }
        &-main_block {
            display: flex;
        }
        &-header_text {
            .playit();
            font-size: 26px;
            font-weight: 400;
        }
        &-main_text {
            .hel();
            font-size: 16px;
            text-transform: none;
            color: #8F969E;
            font-weight: 400;
        }
        &-img {
            width: 236px;
            height: 135px;
            margin-right: 20px;
            &-1600px_adaptive {
                display: none;
            }
            &-640px_adaptive {
                display: none;
            }
            @media (max-width: @block-3-adaptive-1600px) {
                display: none;
                &-1600px_adaptive {
                    margin-right: 20px;
                    display: block;
                    margin-left: 20px;
                }
            }
        }
        &-top {
            &-card {
                display: flex;
                width: 482px;
                &-1 {
                    margin-top: -110px;
                    margin-left: 725px;
                    @media (max-width: @block-3-adaptive-1600px) {
                        margin-top: -125px;
                        margin-left: 130%;
                    }
                    @media (max-width: @block-3-adaptive-1450px) {
                        margin-left: 125%;
                    }
                    @media (max-width: @block-3-adaptive-1280px) {
                        margin-left: 75%;
                    }
                    @media (max-width: @block-3-adaptive-1170px) {
                        margin-left: 81%;
                    }
                    @media (max-width: @block-3-adaptive-1020px) {
                        margin-left: 100%;
                        width: 338px;
                    }
                }
            }
        }
        &-bottom {
            display: flex;
            @media (max-width: @block-3-adaptive-820px) {
                display: none;
            }
            &-card {
                display: flex;
                width: 482px;
                margin-top: 80px;
                @media (max-width: @block-3-adaptive-1600px) {
                    width: 339px;
                }
                &-1 {
                    margin-left: 432px;
                    @media (max-width: @block-3-adaptive-1600px) {
                        margin-right: 58px;
                        margin-left: 60%;
                    }
                    @media (max-width: @block-3-adaptive-1450px) {
                        margin-left: 46%;
                    }
                    @media (max-width: @block-3-adaptive-1280px) {
                        display: none;
                    }
                }
                &-2 {
                    margin-left: 60px;
                    flex-direction: row-reverse;
                    @media (max-width: @block-3-adaptive-1280px) {
                        margin-left: 200%;
                    }
                    @media (max-width: @block-3-adaptive-1170px) {
                        margin-left: 145%;
                    }
                    @media (max-width: @block-3-adaptive-1020px) {
                        margin-left: 100%;
                        width: 338px;
                    }
                }
            }
        }
        &-arrow_1 {
            width: 20px;
            height: 20px;
            margin-top: 10px;
            margin-left: 10px;
            @media (max-width: @block-3-adaptive-1600px) {
                display: none;
            }
        }
        &-arrow_2 {
            width: 20px;
            height: 20px;
            margin-top: 10px;
            margin-right: 10px;
            @media (max-width: @block-3-adaptive-1600px) {
                display: none;
            }
        }
    }
    &-adaptive {
        display: none;
        @media (max-width: @block-3-adaptive-820px) {
            display: flex;
            flex-direction: column;
            height: 300px;
            margin-top: 60px;
            justify-content: space-between;
            @media (max-width: @block-3-adaptive-640px) {
                margin-top: 40px;
            }
            &-cards {
                &-card {
                    display: flex;
                    @media (max-width: @block-3-adaptive-640px) {
                        display: block;
                    }
                    &-2 {
                        flex-direction: row-reverse;
                        &-text {
                            margin-right: 20px;
                            margin-left: 0;
                        }
                        &-img {
                            @media (max-width: @block-3-adaptive-640px) {
                                display: none;
                            }
                        }
                        &-img_adaptive {
                            display: none;
                            @media (max-width: @block-3-adaptive-640px) {
                                display: block;
                            }
                        }
                    }
                    &-1 {
                        margin-bottom: 20px;
                        &-text {
                            margin-left: 20px;
                            @media (max-width: @block-3-adaptive-640px) {
                                margin-left: 0;
                            }
                        }
                        &-img {
                            @media (max-width: @block-3-adaptive-640px) {
                                display: none;
                            }
                        }
                        &-img_adaptive {
                            display: none;
                            @media (max-width: @block-3-adaptive-640px) {
                                display: block;
                            }
                        }
                    }
                    &-text {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-evenly;
                        @media (max-width: @block-3-adaptive-640px) {
                            margin-top: 20px;
                        }
                        &-header_text {
                            .playit();
                            font-size: 27px;
                            text-transform: uppercase;
                            color: #FFFFFF;
                            @media (max-width: @block-3-adaptive-640px) {
                                margin-bottom: 10px;
                            }
                        }
                        &-main_text {
                            .hel();
                            font-size: 18px;
                            color: #8F969E;
                            @media(max-width:1600px){
                                font-size: 16px;
                            }
                            @media(max-width:960px){
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}





// ---------------------------------------------------- block - 4 ----------------------------------------------------------------
// #block-4{
//     @media (max-width: 999px) {
//         padding: 0;
//     }
//     //padding-bottom: 4000px;
//     .container{
//         position: relative;
//     }
//     padding-bottom: 830px;
//     @media(max-width: 768px){
//         padding-bottom: 1180px;
//     }
//     @media(max-width: 600px){
//         padding-bottom: 1080px;
//     }
//     @media(max-width: 500px){
//         padding-bottom: 970px;
//     }
//     @media(max-width: 400px){
//         padding-bottom: 850px;
//     }
//     @media(max-width: 350px){
//         padding-bottom: 700px;
//     }
//     @media(max-width: 320px){
//         padding-bottom: 600px;
//     }
//     .section{
//         position: relative;
//         margin-top: 200px;
//         #block-4__sec2{
//             opacity: 1;
//             position: absolute;
            
//         }
//         #block-4__sec{
//             // opacity: 0;
//             // z-index: 0;
//             position: absolute;
//         }
        
//         &__img{
//             position: relative;
//         }
//         .section__img{
//             width: calc(@index * 10);
//             @media(max-width: 1180px){
//                 width: calc(@index * 8);
//             }
//         }
//         #block-4__img-1{
//             left:26%;
//             top: 200%;
//         }
//         #block-4__img-3{
//             left:76%;
//             top: 20%;
            
//         }
//         #block-4__img-2{
//             top: 15%;
//             left:51%;
//         }
//         #block-4__img-4{
//             top: 27%;
//             left:26%;
//         }
//         #block-4__img-5{
//             top: 35%;
//             left:26%;
//         }
//         #block-4__img-6{
//             top: 42%;
//             left:51%;
//         }
//         #block-4__img-7{
//             top: 49%;
//             left:76%;
//         }
//         #block-4__img-8{
//             top: 56%;
//             left:26%;
//         }
//         &-content{
//             z-index: 1;
//             // padding-top: 270px;
//             color: @color-white;
//             display: flex;
//             flex-direction: column;
//             justify-content: flex-start;
//             gap: 40px;
//             p{
//                 .hel();
//                 font-size: 20px;
//                 font-size: calc(@index * .7);
//                 color: @color-grey;
//                 max-width: 655px;
//                 line-height: 110%;
//             }
//             h3{
//                 @media(max-width: 580px){
//                     margin-top: 50px;
//                 }
//                 // margin-top: 200px;
//                 // font-size: 40px;
//                 font-size: calc(@index * 1.4);
//                 .playit();
//                 font-weight: 100;
//                 white-space: nowrap;
//                 @media(max-width: 768px){
//                     //margin-top: 100px;
//                     white-space: normal;
//                 }
//             }
//         }
//     }
//     //margin-top: 200px;
//     h2{
//         @media(max-width: 1000px){
//             font-size: calc(@index * 3);
//         }
//         @media(max-width: 768px){
//             font-size: calc(@index * 2.5);
//         }
//         @media(max-width: 580px){
//             font-size: calc(@index * 2);
//         }
//         @media(max-width: 446px){
//             font-size: calc(@index * 1.6);
//         }
//         // margin-bottom: 200px;
//         // margin-top: 200px;
//         // position: absolute;
//         z-index: 1;
//         color: @color-white;
        
//         // height: 100px;
//         font-weight: 400;
//         // font-size: 100px;
//         font-size: calc(@index * 3.5);
//         line-height: 100%;
//         text-transform: uppercase;
//         .play();
//         .ital{
//             color: @color-orange;
//             .playit();
//         }
//     }
// }

/*

==================================================================================================================
-------------------------------------------------- block 5 -------------------------------------------------------
==================================================================================================================

*/

#block-5{
    .item-block-5{
        margin-left: auto;
        width: 50%;
        text-transform: uppercase;
        //.play();
        text-align: center;
        .hel();
        width: 400;
        font-size: calc(@index * 0.8);
        span{
            color:@color-white;
        }
        .first-title-block-5-colored-text{
            .playit();
            color: @color-orange;
        }   
    }
    .first-title-block-5:nth-child(1){
        text-align: center;
    }
    .title-block-5{
        span:nth-child(1){
            color: @color-orange;
            .playit();
        }
        span:nth-child(2){
            .playit();
        }
        text-transform: uppercase;
        .play();
        color:@color-white ;
        font-size: calc(@index * 3.5);
        text-align: center;
        margin: 0 auto;
        margin-top: 100px;
    }
    .info-block-5{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin-top: 80px;
    }
    .info-item-block-5{
        color: @color-white;
        max-width: 385px;
        width: 100%;
        .item-titile-block-5{
            .playit();
            font-size: calc(@index * 1);
            text-transform: uppercase;
        }
        .info-text-block-5{
            margin-top: 15px;
            width: 90%;
            font-size: calc(@index * 0.7);
            // font-size: 20px;
            .hel();
            color:@color-grey;
            @media (max-width:1600px){
                font-size: calc(@index * 0.7);
                // font-size: 18px;
            }
        }
    }
    @media(max-width: 1200px){
        .info-text-block-5{
            max-width:90%;
        }
    }
    @media(max-width: 900px){
        .info-block-5{
            flex-wrap: wrap;
        }
        .info-item-block-5{
            margin-top: 25px;
            width:50%;
        }
    }
    @media(max-width: 640px){
        .info-block-5{
            flex-wrap: wrap;
            justify-content: center;
        }
        .info-item-block-5{
            margin-top: 25px;
            width:100%;
        }
    }
}

// ---------------------------------------------------- block - 6 ----------------------------------------------------------------

@block-6-adaptive-1600px: 1600px;
@block-6-adaptive-1280px: 1280px;
@block-6-adaptive-960px: 960px;
@block-6-adaptive-750px: 750px;
@block-6-width: 326px;
@block-6-height: 206px;

.block-6{
    margin-top: 300px;
    display: flex;
    align-items: center;
    @media (max-width: 999px) {
        margin-bottom: 160px;
        margin-top: 160px;
    }
    &-header_text {
        margin-bottom: 70px;
        .play();
        font-size: calc(@index * 3.33);
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        text-transform: uppercase;
        color: #FFFFFF;
        &-span {
            .playit();
            color: @color-orange;
        }
    }
    &-main {
        &-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 30px;
            padding-bottom: 30px;
            border-bottom: 1px solid @color-grey;
            cursor: pointer;
            @media (min-width: 1000px) {
                cursor: none;
            }
            &:hover &-text {
                color: #FFFFFF;
            }
            &:hover .block-6-cursor {
                height: @block-6-height;
            }
            &:hover &-second_text {
                color: #FFFFFF;
            }
            &-text {
                white-space: nowrap;
                .playit();
                color: #FFFFFF;
                font-weight: 400;
                font-size: calc(calc(@index * 3.33) / 2.5);
                line-height: 99.5%;
                letter-spacing: 0.05em;
                text-transform: uppercase;
                color: @color-grey;
                transition: all 0.3s ease;
                text-overflow: ellipsis;
                @media (max-width: @block-6-adaptive-750px) {
                    font-size: 23px;
                }
            }
            &-second_text {
                max-width: 800px;
                height: 49px;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                @media (max-width: @block-6-adaptive-1600px) {
                    max-width: 630px;
                }
                @media (max-width: @block-6-adaptive-1280px) {
                    max-width: 470px;
                }
                @media (max-width: @block-6-adaptive-960px) {
                    max-width: 310px;
                    height: 57px;
                    font-size: 14px;
                    -webkit-line-clamp: 4;
                }
                @media (max-width: @block-6-adaptive-750px) {
                    display: none;
                }
                .hel();
                color: #FFFFFF;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 99.5%;
                letter-spacing: 0.05em;
                color: @color-grey;
                transition: all 0.3s ease;
            }
        }
        &-line {
            height: 1px;
            background-color: @color-grey;
        }
    }
    &-cursor {
        position: fixed;
        top: calc(@index * 32 * -.5);
        left: calc(@width * -.5);
        width: @width;
        height: 0;
        overflow: hidden;
        transform: translate3d(var(--move-x), var(--move-y), 0);
        transition: transform @transition-cursor-image, height 1s ease;
        will-change: transform;
        z-index: 0;
        pointer-events: none;
        &__image{
            position: relative;
            width: calc(@width * 1.5);
            height: calc(@height * 1.5);
            top: calc(@height * -.25);
            left: calc(@width * -.04);
            background-size: cover;
            background-position: center;
            transform: translate3d(calc(var(--move-x) / -10), calc(var(--move-y) / -100), 0);
            transition: transform @transition-cursor-image;
            will-change: transform;
        }
    }
}

/*--------------------------------block-7------------------------------*/

@block-7-adaptive-1600px: 1600px;
@block-7-adaptive-1280px: 1280px;
@block-7-adaptive-1000px: 1000px;
@block-7-adaptive-960px: 960px;
@block-7-adaptive-550px: 550px;

.block-7 {
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &-header {
        margin-bottom: 70px;
        background-color: @color-black;
        @media (max-width: @block-7-adaptive-550px) {
            margin-bottom: 30px;
        }
        &-main_text {
            text-transform: uppercase;
            text-align: center;
            .play();
            font-size: calc(@index * 3.33);
            color: #FFFFFF;
            width: 1177px;
            @media (max-width: @block-7-adaptive-1000px) {
                width: 700px;
                font-size: calc(calc(@index * 3.33) / 1.2);
            }
            @media (max-width: @block-7-adaptive-550px) {
                width: 300px;
            }
            span {
                color: @color-orange;
                .playit();
            }
        }
    }
    &-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 610px;
        @media (max-width: @block-7-adaptive-1600px) {
            width: 570px;
        }
        @media (max-width: @block-7-adaptive-1280px) {
            width: 470px;
        }
        @media (max-width: @block-7-adaptive-960px) {
            width: 430px;
        }
        @media (max-width: @block-7-adaptive-550px) {
            width: 320px;
        }
        &-main_text {
            .hel();
            font-size: calc(calc(@index * 3.33) / 2.5);
            text-transform: lowercase;
            color: #FFFFFF;
            margin-bottom: 70px;
            @media (max-width: @block-7-adaptive-960px) {
                font-size: calc(calc(@index * 3.33) / 2.4)
            }
            @media (max-width: @block-7-adaptive-550px) {
                margin-bottom: 30px;
            }
            z-index: -1;
        }
        &-input {
            display: flex;
            flex-direction: column;
            align-items: start;
            width: 100%;
            margin-bottom: 40px;
            @media (max-width: @block-7-adaptive-1600px) {
                margin-bottom: 33px;
            }
            @media (max-width: @block-7-adaptive-1280px) {
                margin-bottom: 24px;
            }
            @media (max-width: @block-7-adaptive-960px) {
                margin-bottom: 18px;
            }
            &-text {
                .play();
                font-size: calc(calc(@index * 3.33) / 5.5);
                color: #8F969E;
                text-transform: uppercase;
                margin-bottom: calc(calc(@index * 3.33) / 10);
                @media (max-width: @block-7-adaptive-1280px) {
                    font-size: 12px;
                }
            }
            &-input {
                .hel();
                outline: none;
                height: 90px;
                width: 100%;
                background: @color-black;
                border: 1px solid;
                border-radius: 100px;
                border-color: @color-grey;
                color: @color-grey;
                font-size: calc(calc(@index * 3.33) / 2.5);
                padding-left: 47px;
                padding-right: 47px;
                @media (max-width: @block-7-adaptive-1600px) {
                    height: 82px;
                }
                @media (max-width: @block-7-adaptive-1280px) {
                    height: 70px;
                    padding-left: 30px;
                    padding-right: 30px;
                }
                @media (max-width: @block-7-adaptive-960px) {
                    height: 60px;
                    padding-left: 25px;
                    padding-right: 25px;
                }
            }
        }
        &-button {
            margin-top: 40px;
            .hel();
            text-transform: uppercase;
            letter-spacing: 0.05em;
            line-height: 110%;
            width: 100%;
            height: 90px;
            border-radius: 100px;
            border: 1px solid;
            border-color: @color-orange;
            font-size: calc(calc(@index * 3.33) / 2.5);
            color: @color-orange;
            background-color: @color-black;
            transition: all 0.3s ease;
            &:hover {
                background-color: @color-orange;
                color: @color-white;
                cursor:pointer;
            }
            @media (max-width: @block-7-adaptive-1600px) {
                height: 82px;
            }
            @media (max-width: @block-7-adaptive-1280px) {
                height: 70px;
                margin-top: 30px;
            }
            @media (max-width: @block-7-adaptive-960px) {
                height: 60px;
                margin-top: 18px;
            }
        }
    }
}


.block-7{
    input{
        &:hover{
            border-color: @color-white;
            transition: .2s ease;
        }
        &:hover label{
            border-color: @color-white;
            transition: .2s ease;
        }
        &:active{
            border-color: @color-orange;
            transition: .2s ease;
            color: @color-white;
        }
        &:focus{
            border-color: @color-orange;
            transition: .2s ease;
            color: @color-white;
        }
    }
}


/*--------------------------------------------------footer----------------------------------------*/

#footer{
    padding-bottom: 350px;
    margin-top: 160px;
    display: flex;
    color: white; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .footer-logo-mini{
        position: relative;
        display: none;
    }
    .footer-ul-nav{
        display: flex;
        justify-content: space-around;
        .play();
        
        
        .nav-footer-item a{
            font-size: 20px;
            font-size: calc(@index * 0.7);
            color: #8F969E;
            text-decoration: none;
            cursor: pointer;
            &:hover{
                color: white;
            }
            @media(max-width:1000px){
                font-size: 16px;
            }
        }
    }
    .nav-footer{
        display: flex;
        flex-direction: row;
        max-width: 1200px;
        width: 100%;
        .nav-footer-item{
            
            
        }
    }
    .footer-ul-nav{
        list-style-type: none;
        width: 100%;
    }
    .footer-line{
        margin-top: 20px;
        margin-bottom: 20px;
        height: 1px;
        width: 100%;
        background-color: #8F969E;
    }
    .footer-contacts{
        display: flex;
        width: 100%;
        justify-content: space-between;
        .playit();

        .footer-or{
            .hel();
            color: #8F969E;
        }
        ul{
            display: flex;
            
            justify-content: space-around;
            list-style: none;
            gap: 20px;
            li a{
                text-decoration: none;
                color: #8F969E;
                text-transform: uppercase;
                &:hover{
                    color: white;
                }
            } 
            
        }
        
    }
     @media(max-width: 720px){
        .footer-logo{
            display: none;
        }
        .footer-logo-mini{
            width: 50px;
            display: block;
            
            top: calc(@index * 2.5);
            img{
                margin: 0 auto;
            }
        }
       .footer-ul-nav{
            flex-direction: column;
       }
       .footer-ul-nav:nth-child(2){
            text-align: end;
       }
    }
    @media(max-width:600px){
        .footer-or{
            width: 100%;
            margin-bottom: 20px;
        }
        .footer-logo-mini{
            
            scale: 0.7;
        }
        .footer-contacts{
            flex-wrap: wrap;
            ul{
                width: 100%;
            }
        }
        
    }
    @media(max-width:400px){
        .footer-logo-mini{
            top: 0;
            scale: 1;
        }
    }
}


/////////////////////////////////////////////////////////////////////// tic

.title-tic-main{
    margin-top: 240px;
    color: white;
    font-size: 100px;
    text-transform: uppercase;
    .play();
}
.price-list-name{
    color: #8F969E;
    .playit();
    font-size: 40px;
    
    margin-top: 60px;
    @media(max-width:400px){
        font-size: 20px;
    }
}
.line-tic{
    width: 100%;
    height: 1px;
    background-color: #8F969E;
    margin-top: 30px;
}
.wr-tic{
    display: grid;
    margin-top: 100px;
    column-gap: 20px;
    row-gap: 20px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(7, 30px);
    color: white;
    p{
        font-size: 20px;
    }
    .hel();
    font-size: calc(@index * .8);
    
    #nm-1,#nm-2,#nm-3,#nm-4{
        color: #8F969E; 
        .play();
    }
   .name-mp-gr{
    span{
        text-decoration: underline;
        font-size: 20px;
        .hel();
    }
    .play();
    text-align: start;
    // font-size: calc(@index * 1.1);
    grid-column-start: 1;
    grid-row-start: 2;
    @media(max-width:960px ){
        grid-row-start: 2 !important;
        grid-column-end: 6 ;
        grid-column-start: 1 ;
    }
   }
   .name-serv{
        grid-column-start: 2 ;
        font-size: 20px;
    }
    .pr-gr{
        grid-column-start: 3 ;
        font-size: 20px;
    }
    .pr-gr-1{
        grid-column-start: 4 ;
        font-size: 20px;
    }
    .buy-type-btn{
        grid-column-start: 5 ;
    }
   #gr-1{
    grid-row-start: 2;
    @media(max-width:960px ){
        grid-row-start: 4;
    }
   }
   #gr-2{
    grid-row-start: 3;
    @media(max-width:960px ){
        grid-row-start: 5;
    }
   }
   #gr-3{
    grid-row-start: 4;
    @media(max-width:960px ){
        grid-row-start: 6;
    }
   }

   @media (max-width:960px) {
    .name-serv,.pr-gr,.pr-gr-1,.buy-type-btn{
        grid-column-start: auto ;
    }
    #nm-2,#nm-3,#nm-4{
        grid-row-start: 3;   
    }
   }

   @media (max-width:460px) {
    
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(9,30px);
    //text-align: center;
    #nm-2,#nm-3,#nm-4{
      //text-align: center;
    }
    #gr-1,#gr-2,#gr-3{
        //text-align: center;
    }
    .rl-more-info{
        width: 66px;
    }
    .y1{
        grid-row-start: 5 !important;
        width: 100%;
        grid-column-start: 1;
        grid-column-end: 6;
        //text-align: center;
    }
    .y2{
        //text-align: center;
        grid-row-start: 7 !important;
        width: 100%;
        grid-column-start: 1;
        grid-column-end: 6;
    }
    .y3{
        //text-align: center;
        margin-top: 10px;
        grid-row-start: 9 !important;
        width: 100%;
        grid-column-start: 1;
        grid-column-end: 6;
    }
    .btn-tic-buy{
        
        padding: 10px 100px;
    }
    .buy-type-btn{
        
    }
    #gr-1{
        grid-row-start: 2;
        @media(max-width:960px ){
            grid-row-start: 4;
            //text-align: center;
        }
       }
       #gr-2{
        grid-row-start: 3;
        @media(max-width:960px ){
            grid-row-start: 6;
        }
       }
       #gr-3{
        grid-row-start: 4;
        @media(max-width:960px ){
            grid-row-start: 8;
        }
       }
   }
}
.rl-more-info{
    //position: absolute;
    font-size: 12px;
    width: 70px;
}
.fx{
    grid-template-rows: repeat(5,30px);
}
.name-mp-gr{
    p{
        color: #FF4612;
        .hel();
        text-decoration: none !important;
    }
}
.b23{
    width: 104px;
}
.btn-tic-buy{
    padding: 5px 50px;
    text-decoration: none;
    font-size: calc(@index * .7);
    background-color: none;
    color: @color-orange;
    text-align: center;
    text-transform: uppercase;
    .hel();
    font-weight: 100;
    border: 1px solid @color-orange;
    border-radius: 30px;
    max-width: 315px;
    white-space: nowrap;
    transition: all .2s ease;
    &:hover{
        background-color: @color-orange;
        color: @color-white;
    }
    &:active{
        color: @color-black;
    }
    &-disabled{
        opacity: .6;
        pointer-events: none;
    }
}



  
  .loader {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 7.33333em;
    height: 7.33333em;
    margin-left: -3.66667em;
    margin-top: -3.66667em;
    z-index: 2000;
  }
  
  .loader-block {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    opacity: 0;
    width: 2em;
    height: 2em;
    background: #fdfdfd;
    -webkit-animation: show 0.88s step-end infinite alternate, pulse 0.88s linear infinite alternate;
    animation: show 0.88s step-end infinite alternate, pulse 0.88s linear infinite alternate;
  }
  
  .loader-block:nth-child(1) {
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-animation-delay: 0.065s;
    animation-delay: 0.065s;
  }
  
  .loader-block:nth-child(2) {
    -moz-transform: translate(2.66667em, 0);
    -ms-transform: translate(2.66667em, 0);
    -webkit-transform: translate(2.66667em, 0);
    transform: translate(2.66667em, 0);
    -webkit-animation-delay: 0.13s;
    animation-delay: 0.13s;
  }
  
  .loader-block:nth-child(3) {
    -moz-transform: translate(5.33333em, 0);
    -ms-transform: translate(5.33333em, 0);
    -webkit-transform: translate(5.33333em, 0);
    transform: translate(5.33333em, 0);
    -webkit-animation-delay: 0.195s;
    animation-delay: 0.195s;
  }
  
  .loader-block:nth-child(4) {
    -moz-transform: translate(0, 2.66667em);
    -ms-transform: translate(0, 2.66667em);
    -webkit-transform: translate(0, 2.66667em);
    transform: translate(0, 2.66667em);
    -webkit-animation-delay: 0.325s;
    animation-delay: 0.325s;
  }
  
  .loader-block:nth-child(5) {
    -moz-transform: translate(2.66667em, 2.66667em);
    -ms-transform: translate(2.66667em, 2.66667em);
    -webkit-transform: translate(2.66667em, 2.66667em);
    transform: translate(2.66667em, 2.66667em);
    -webkit-animation-delay: 0.13s;
    animation-delay: 0.13s;
  }
  
  .loader-block:nth-child(6) {
    -moz-transform: translate(5.33333em, 2.66667em);
    -ms-transform: translate(5.33333em, 2.66667em);
    -webkit-transform: translate(5.33333em, 2.66667em);
    transform: translate(5.33333em, 2.66667em);
    -webkit-animation-delay: 0.455s;
    animation-delay: 0.455s;
  }
  
  .loader-block:nth-child(7) {
    -moz-transform: translate(0, 5.33333em);
    -ms-transform: translate(0, 5.33333em);
    -webkit-transform: translate(0, 5.33333em);
    transform: translate(0, 5.33333em);
    -webkit-animation-delay: 0.39s;
    animation-delay: 0.39s;
  }
  
  .loader-block:nth-child(8) {
    -moz-transform: translate(2.66667em, 5.33333em);
    -ms-transform: translate(2.66667em, 5.33333em);
    -webkit-transform: translate(2.66667em, 5.33333em);
    transform: translate(2.66667em, 5.33333em);
    -webkit-animation-delay: 0.26s;
    animation-delay: 0.26s;
  }
  
  .loader-block:nth-child(9) {
    -moz-transform: translate(5.33333em, 5.33333em);
    -ms-transform: translate(5.33333em, 5.33333em);
    -webkit-transform: translate(5.33333em, 5.33333em);
    transform: translate(5.33333em, 5.33333em);
  }
  
  @-webkit-keyframes pulse {
    from,
    40% {
      background: #fdfdfd;
    }
    to {
      background: #dadada;
    }
  }
  @-webkit-keyframes show {
    from, 40% {
      opacity: 0;
    }
    41%, to {
      opacity: 1;
    }
  }
  @keyframes pulse {
    from,
    40% {
      background: #fdfdfd;
    }
    to {
      background: #dadada;
    }
  }
  @keyframes show {
    from, 40% {
      opacity: 0;
    }
    41%, to {
      opacity: 1;
    }
  }
