*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

/*---------------------Переменные-----------------------*/

@color-orange: #FF4612;
@color-white: #FFFFFF;
@color-black: #101922;
@color-grey: #8F969E;
@color-error: #CA0000;

@keyframes opp{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@index: calc(1vh + 1vh);



@transit: 2s cubic-bezier(.05, .5, 0, 1);


@font-face {
    font-family: playfair_reg;
    src: url('fonts/PlayfairDisplay-Regular.woff');

}

@font-face {
    font-family: playfair_it;
    src: url('fonts/PlayfairDisplay-Italic.woff');

}

@font-face {
    font-family: HelveticaL;
    src: url('fonts/HelveticaLight.woff');
}
.play(){
    font-family: playfair_reg;
}
.playit(){
    font-family: playfair_it;
}
.hel(){
    font-family: HelveticaL;
}


body{
    background-color: @color-black;
    overflow-x: hidden;
    height: 100%;
}

@keyframes animCTA {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}




/*----------------Меню----------------*/



.container{
    max-width: 1600px;
    margin: calc(@index*2) auto;
    position: relative;
    @media(max-width:1599px){
        padding: 0 calc(@index*2);
    }
}


.header{
    top: 00%;
    z-index: 1;
    position: fixed;
    width: 100%;
    will-change: transform;
    nav{
        .menu{
            display: none;
            top:calc(@index*5);
            position: absolute;
            padding: calc(@index * 2) 0;
            background-color: @color-black;
            width: 100%;
            transition: all .6s ease;
            .lists{
                display: flex;
                gap: 60px;
            }
            ul{
                color: @color-white;
                list-style: none;
                li{
                    margin-bottom: 40px;
                    a{
                        display: inline-block;
                        font-size: 40px;
                        color: @color-grey;
                        text-transform: uppercase;
                        text-decoration: none;
                        letter-spacing: 0.02em;
                        .play();
                        transition: all .3s ease;
                        &::after{
                            background-color: @color-white;
                            display: block;
                            content: "";
                            height: 2px;
                            width: 0%;
                            transition: width .3s ease;
                        }
                        &:hover{
                            color: @color-white;
                            &::after{
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
        .menu-active{
            transition: all .6s ease;
            display: block;
        }
        .logo{
            width: calc(@index*14);
            @media(max-width:459px){
                width: calc(@index*8);
            }
        }
        display: flex;
        justify-content: space-between;
        align-items: center;
        .burger{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            position: relative;
            input{
                display: block;
                width: 48px;
                height: 35px;
                position: absolute;
  
                cursor: pointer;
  
                opacity: 0; /* hide this */
                z-index: 2; /* and place it over the hamburger */
  
                -webkit-touch-callout: none;
                &:checked ~ span{
                    opacity: 1;
                    transform: rotate(45deg) translate(-20px, -17px);
                    width: 48px;
                }
                &:checked ~ span:nth-last-child(2){
                    opacity: 0;
                    transform: rotate(0deg) scale(0.2, 0.2);
                    width: 48px;
                }
                &:checked ~ span:nth-last-child(3){
                    opacity: 1;
                    width: 48px;
                    transform: rotate(-45deg) translate(-20px, 17px);
                }
                
            }
            &:hover span:nth-last-child(2){
                width: 48px;
            }
            &:hover span{
                width: 48px;
            }
            span{
                display: block;
                width: 14px;
                height: 2px;
                margin-bottom: 8px;
                position: relative;
                background: #cdcdcd;
                transition: .3s ease;
                transform-origin: 0% 0%;
                &:nth-last-child(2){
                    width: 28px;
                    transform-origin: 0% 100%;
                }
                &:nth-last-child(3){
                    width: 48px;
                }
            }
        }
    }
}



/*----------------------block-1--------------------*/

.block-1{
    padding-bottom: 3500px;
    h1{
        margin-top: calc(@index*20);
        //font-size: 120px;
        font-size: calc(@index*6);
        width: min-content;
        line-height: .99;
        .play();
        font-weight: 100;
        text-transform: uppercase;
        color: @color-white;
        .ital{
            .playit();
            color: @color-orange;
        }
        will-change: transform;
    }
    .images{
        position: absolute;
        top: 480%;
        display: flex;
        width: 100%;
        justify-content: space-between;
        .image{
            display: flex;
            width: calc(@index*13.3);
            flex-direction: column;
            gap: 20px;
            &:nth-last-child(3){
                width: calc(@index*8.6);
            }
            &:nth-last-child(2){
                width: calc(@index*16.6);
            }
            &:nth-last-child(1){
                width: calc(@index*13.6);
            }
            p{
                color: @color-white;
                .hel();
                font-weight: 100;
                font-size: 20px;
                font-size: calc(@index*1.1);
            }
            a{
                overflow: hidden;
                #img1{
                    
                }
                #img2{
                    width: calc(@index*10.6);
                }
                #img3{
                    width: calc(@index*18.6);
                }
                .img-block1{
                    position: relative;
                    // top: -50%;
                    // left: -50%;
                    @moveX: calc(var(--move-x) * -1);
                    @moveY: calc(var(--move-y) * -1);
                    transform: translate3d(calc(@moveX * 0.01), calc(@moveY * 0.01), 0);
                    transition: all @transit;
                    will-change: transform;
                    &:hover{
                        transform: scale(1.1);
                    }

                }
            }
            }
        }
    }
    .offer{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .cta{
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 16px;
        margin-top: calc(@index*-5);
        z-index: 1;
        &:hover span{
            color: @color-orange;
            border-bottom: 1px solid @color-orange;
        }
        span{
            color: @color-white;
            text-transform: uppercase;
            letter-spacing: 0.15em;
            .hel();
            font-size: 20px;
            padding: 5px 0;
            border-bottom: 1px solid @color-white;
            transition: all 0.3s ease;
        }
        .svgs{
            
            .bukCTA{
                animation: animCTA 10s infinite linear;
            }
            .arrowCTA{
                position: absolute;
                animation: none !important;
            }
        }

    }

    .block-2{
        margin-top: 1500px;
        margin-bottom: 1000px;
        color: @color-white;
        z-index: 1;
        p{
            font-size: 100px;
        }
    }
