*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*---------------------Переменные-----------------------*/
@keyframes opp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@font-face {
  font-family: playfair_reg;
  src: url('fonts/PlayfairDisplay-Regular.woff');
}
@font-face {
  font-family: playfair_it;
  src: url('fonts/PlayfairDisplay-Italic.woff');
}
@font-face {
  font-family: HelveticaL;
  src: url('fonts/HelveticaLight.woff');
}
body {
  background-color: #101922;
  overflow-x: hidden;
  height: 100%;
}
@keyframes animCTA {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.cta {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 16px;
  z-index: 1;
}
@media (max-width: 1599px) {
  .cta {
    margin-top: 18%;
    margin-left: -25%;
  }
}
@media (max-width: 980px) {
  .cta {
    margin-top: 5%;
    margin-left: 1%;
  }
}
.cta:hover span {
  color: #FF4612;
  border-bottom: 1px solid #FF4612;
}
.cta span {
  white-space: nowrap;
  letter-spacing: 0;
  color: #FFFFFF;
  text-transform: uppercase;
  font-family: HelveticaL;
  font-size: 20px;
  padding: 5px 0;
  border-bottom: 1px solid #FFFFFF;
  transition: all 0.3s ease;
}
@media (max-width: 1919px) {
  .cta span {
    font-size: 20px;
  }
}
@media (max-width: 1599px) {
  .cta span {
    font-size: 18px;
  }
}
@media (max-width: 1279px) {
  .cta span {
    font-size: 16px;
  }
}
@media (max-width: 959px) {
  .cta span {
    font-size: 16px;
  }
}
@media (max-width: 639px) {
  .cta span {
    font-size: 14px;
  }
}
@media (max-width: 399px) {
  .cta span {
    font-size: 14px;
  }
}
@media (max-width: 1024px) {
  .cta .svgs {
    transform: scale(0.8);
  }
}
.cta .svgs .bukCTA {
  animation: animCTA 10s infinite linear;
}
.cta .svgs .arrowCTA {
  position: absolute;
  animation: none !important;
}
.btn-secondary {
  padding: 14px 40px;
  text-decoration: none;
  background-color: none;
  color: #FF4612;
  text-align: center;
  text-transform: uppercase;
  font-family: HelveticaL;
  font-weight: 100;
  border: 1px solid #FF4612;
  border-radius: 30px;
  max-width: 315px;
  white-space: nowrap;
  transition: all 0.2s ease;
}
.btn-secondary:hover {
  background-color: #FF4612;
  color: #FFFFFF;
}
.btn-secondary:active {
  color: #101922;
}
.btn-secondary-disabled {
  opacity: 0.6;
  pointer-events: none;
}
/*----------------Меню----------------*/
.container {
  max-width: 1600px;
  margin: calc(calc(1vh + 1vw)*2) auto;
  position: relative;
}
@media (max-width: 1599px) {
  .container {
    padding: 0 calc(calc(1vh + 1vw)*2);
  }
}
.dark {
  background-color: #101922;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1899;
  opacity: 0;
  transition: all 0.3s ease;
  pointer-events: none;
}
.show-dark {
  opacity: 1;
}
.dark2 {
  background-color: #101922;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  opacity: 1;
  transition: all 0.3s ease;
  pointer-events: none;
}
.header {
  top: 00%;
  z-index: 1999;
  position: fixed;
  width: 100%;
  will-change: transform;
}
.header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header nav .menu {
  transition: all 0.5s ease;
  opacity: 0;
  top: calc(calc(1vh + 1vw)*2.5);
  position: absolute;
  padding: calc(calc(1vh + 1vw) * 2) 0;
  padding-top: calc(calc(1vh + 1vw) * 2);
  background-color: #101922;
  width: 120%;
  overflow: hide;
  pointer-events: none;
}
.header nav .menu .menu-footer {
  margin-top: 0%;
  width: 98%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1599px) {
  .header nav .menu .menu-footer {
    width: 90%;
  }
}
@media (max-width: 639px) {
  .header nav .menu .menu-footer {
    flex-direction: column;
    align-items: flex-start;
  }
}
.header nav .menu .menu-footer .cta {
  margin-top: 0;
}
.header nav .menu .menu-footer .cta span {
  font-size: 20px;
}
@media (max-width: 1919px) {
  .header nav .menu .menu-footer .cta span {
    font-size: 20px;
  }
}
@media (max-width: 1599px) {
  .header nav .menu .menu-footer .cta span {
    font-size: 18px;
  }
}
@media (max-width: 1279px) {
  .header nav .menu .menu-footer .cta span {
    font-size: 16px;
  }
}
@media (max-width: 959px) {
  .header nav .menu .menu-footer .cta span {
    font-size: 16px;
  }
}
@media (max-width: 639px) {
  .header nav .menu .menu-footer .cta span {
    font-size: 14px;
  }
}
@media (max-width: 399px) {
  .header nav .menu .menu-footer .cta span {
    font-size: 14px;
  }
}
.header nav .menu .menu-footer ul {
  list-style: none;
  display: flex;
  gap: calc(calc(1vh + 1vw)*2);
}
@media (max-width: 360px) {
  .header nav .menu .menu-footer ul {
    gap: calc(calc(1vh + 1vw)*1);
  }
}
.header nav .menu .menu-footer ul li a {
  display: inline-block;
  font-size: calc(calc(1vh + 1vw) * 1.4);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.02em;
  color: #8F969E;
  transition: all 0.2s ease;
  font-family: playfair_it;
}
.header nav .menu .menu-footer ul li a::after {
  background-color: #FFFFFF;
  display: block;
  content: "";
  height: 2px;
  width: 0%;
  transition: width 0.3s ease;
}
.header nav .menu .menu-footer ul li a:hover {
  color: #FFFFFF;
}
.header nav .menu .lists {
  display: flex;
  gap: 60px;
  align-items: center;
}
.header nav .menu .ul2 {
  width: 100%;
  opacity: 0;
  list-style: none;
}
@media (max-width: 540px) {
  .header nav .menu .ul2 {
    display: none;
  }
}
.header nav .menu .ul2 li {
  width: 100%;
}
.header nav .menu .ul2 li a {
  width: 100%;
  display: block;
  border-bottom: 1px solid #8F969E;
  padding: calc(calc(1vh + 1vw)*1.5) 0;
  font-size: calc(calc(1vh + 1vw) * 1.05);
  text-decoration: none;
  color: #8F969E;
  text-transform: uppercase;
  font-family: HelveticaL;
  transition: all 0.3s ease;
  letter-spacing: 0.02em;
}
.header nav .menu .ul2 li a:hover .cursor {
  height: calc(calc(1vh + 1vw) * 8);
}
.header nav .menu .ul2 li a .cursor {
  pointer-events: none;
  position: fixed;
  width: calc(calc(1vh + 1vw) * 14);
  top: calc(calc(calc(1vh + 1vw) * 8) * -0.5);
  left: calc(calc(calc(1vh + 1vw) * 14) * -0.5);
  overflow: hidden;
  transform: translate3d(var(--move-x), var(--move-y), 0);
  transition: transform 2s cubic-bezier(0.05, 0.5, 0, 1), height 0.5s ease;
  will-change: transform;
  z-index: 0;
  height: 0;
}
.header nav .menu .ul2 li a .cursor__image {
  position: relative;
  width: calc(calc(calc(1vh + 1vw) * 14) * 1.5);
  height: calc(calc(calc(1vh + 1vw) * 8) * 1.5);
  top: calc(calc(calc(1vh + 1vw) * 8) * -0.25);
  left: calc(calc(calc(1vh + 1vw) * 14) * -0.04);
  background-size: cover;
  background-position: center;
  transform: translate3d(calc(var(--move-x) / -10), calc(var(--move-y) / -10), 0);
  transition: transform 2s cubic-bezier(0.05, 0.5, 0, 1);
  will-change: transform;
}
.header nav .menu .ul2 li a span {
  vertical-align: top;
  font-size: calc(calc(1vh + 1vw));
}
.header nav .menu .ul2 li a:hover {
  color: #FFFFFF;
}
.header nav .menu .ul1 {
  list-style: none;
}
.header nav .menu .ul1 .active {
  display: block !important;
}
.header nav .menu .ul1 .ul2_mobile {
  display: none;
  width: 100%;
  opacity: 1;
  list-style: none;
}
.header nav .menu .ul1 .ul2_mobile li {
  width: 100%;
}
.header nav .menu .ul1 .ul2_mobile li a {
  width: 100%;
  display: block;
  border-bottom: 1px solid #8F969E;
  padding: calc(calc(1vh + 1vw)*1.5) 0;
  font-size: calc(calc(1vh + 1vw) * 1.05);
  text-decoration: none;
  color: #8F969E;
  text-transform: uppercase;
  font-family: HelveticaL;
  transition: all 0.3s ease;
  letter-spacing: 0.02em;
}
.header nav .menu .ul1 .ul2_mobile li a span {
  vertical-align: top;
  font-size: calc(calc(1vh + 1vw));
}
.header nav .menu .ul1 .ul2_mobile li a:hover {
  color: #FFFFFF;
}
.header nav .menu .ul1 li {
  margin-bottom: calc(calc(1vh + 1vw)*1.3);
}
.header nav .menu .ul1 li a {
  display: inline-block;
  font-size: calc(calc(1vh + 1vw) * 1.4);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.02em;
  color: #8F969E;
  transition: all 0.2s ease;
  font-family: playfair_reg;
}
.header nav .menu .ul1 li a::after {
  background-color: #FFFFFF;
  display: block;
  content: "";
  height: 2px;
  width: 0%;
  transition: width 0.3s ease;
}
.header nav .menu .ul1 li .a-hover::after {
  background-color: #FFFFFF;
  display: block;
  content: "";
  height: 2px;
  width: 100%;
  transition: width 0.3s ease;
}
.header nav .menu-active {
  position: absolute;
  transition: all 0.5s ease;
  opacity: 1;
  width: 100%;
  height: calc(calc(1vh + 1vw) * 27);
  pointer-events: auto;
}
.header nav .logo {
  z-index: 1;
  width: calc(calc(1vh + 1vw)*9);
}
@media (max-width: 1919px) {
  .header nav .logo {
    width: calc(calc(1vh + 1vw)*9);
  }
}
@media (max-width: 1599px) {
  .header nav .logo {
    width: calc(calc(1vh + 1vw)*9);
  }
}
@media (max-width: 1279px) {
  .header nav .logo {
    width: calc(calc(1vh + 1vw)*9);
  }
}
@media (max-width: 959px) {
  .header nav .logo {
    width: calc(calc(1vh + 1vw)*9);
  }
}
@media (max-width: 639px) {
  .header nav .logo {
    width: calc(calc(1vh + 1vw)*12);
  }
}
@media (max-width: 399px) {
  .header nav .logo {
    width: calc(calc(1vh + 1vw)*12);
  }
}
.header nav .burger {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}
.header nav .burger input {
  display: block;
  width: 48px;
  height: 35px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */
  -webkit-touch-callout: none;
}
.header nav .burger input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-20px, -17px);
  width: 48px;
}
.header nav .burger input:checked ~ span:nth-last-child(2) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
  width: 48px;
}
.header nav .burger input:checked ~ span:nth-last-child(3) {
  opacity: 1;
  width: 48px;
  transform: rotate(-45deg) translate(-20px, 17px);
}
.header nav .burger:hover span:nth-last-child(2) {
  width: 48px;
}
.header nav .burger:hover span {
  width: 48px;
}
.header nav .burger span {
  display: block;
  width: 14px;
  height: 2px;
  margin-bottom: 8px;
  position: relative;
  background: #cdcdcd;
  transition: 0.3s ease;
  transform-origin: 0% 0%;
}
.header nav .burger span:nth-last-child(2) {
  width: 28px;
  transform-origin: 0% 100%;
}
.header nav .burger span:nth-last-child(3) {
  width: 48px;
}
/*----------------------block-1--------------------*/
#block-1 {
  margin-top: 120px;
}
#block-1 .block-1__header {
  margin-top: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 980px) {
  #block-1 .block-1__header {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (max-width: 999px) {
  #block-1 .block-1__header {
    margin-top: 20%;
  }
}
#block-1 h1 {
  padding-left: 5px;
  font-size: calc(calc(1vh + 1vw)*4.2);
  width: min-content;
  line-height: 0.99;
  font-family: playfair_reg;
  font-weight: 100;
  text-transform: uppercase;
  color: #FFFFFF;
  will-change: transform;
}
@media (max-width: 900px) {
  #block-1 h1 {
    font-size: calc(calc(1vh + 1vw)*3.6);
  }
}
@media (max-width: 639px) {
  #block-1 h1 {
    font-size: calc(calc(1vh + 1vw)*3.2);
  }
}
@media (max-width: 540px) {
  #block-1 h1 {
    font-size: calc(calc(1vh + 1vw)*2.7);
  }
}
@media (max-width: 440px) {
  #block-1 h1 {
    font-size: calc(calc(1vh + 1vw)*2.3);
  }
}
@media (max-width: 360px) {
  #block-1 h1 {
    font-size: calc(calc(1vh + 1vw)*2);
  }
}
#block-1 h1 .ital {
  font-family: playfair_it;
  color: #FF4612;
}
#block-1 .images {
  margin-top: 60%;
  display: flex;
  width: 100%;
  justify-content: space-between;
  will-change: transform;
}
@media (max-width: 999px) {
  #block-1 .images {
    margin-top: 10%;
  }
}
#block-1 .images .image {
  display: flex;
  width: calc(calc(1vh + 1vw)*8.5);
  height: calc(calc(1vh + 1vw)*10);
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 999px) {
  #block-1 .images .image:nth-last-child(1) {
    margin-top: 20px;
  }
  #block-1 .images .image:nth-last-child(3) {
    margin-top: 100px;
  }
}
@media (max-width: 639px) {
  #block-1 .images .image:nth-last-child(1) {
    display: none;
  }
}
@media (max-width: 440px) {
  #block-1 .images .image:nth-last-child(3) {
    display: none;
  }
}
#block-1 .images .image:nth-last-child(3) {
  width: calc(calc(1vh + 1vw)*6);
  height: calc(calc(1vh + 1vw)*10.5);
}
#block-1 .images .image:nth-last-child(2) {
  width: calc(calc(1vh + 1vw)*10.6);
  height: calc(calc(1vh + 1vw)*18.6);
}
#block-1 .images .image:nth-last-child(1) {
  width: calc(calc(1vh + 1vw)*8.6);
  height: calc(calc(1vh + 1vw)*12.6);
}
#block-1 .images .image p {
  color: #FFFFFF;
  font-family: HelveticaL;
  font-weight: 100;
  font-size: 20px;
}
@media (max-width: 1919px) {
  #block-1 .images .image p {
    font-size: 20px;
  }
}
@media (max-width: 1599px) {
  #block-1 .images .image p {
    font-size: 16px;
  }
}
@media (max-width: 1279px) {
  #block-1 .images .image p {
    font-size: 14px;
  }
}
@media (max-width: 959px) {
  #block-1 .images .image p {
    font-size: 14px;
  }
}
@media (max-width: 639px) {
  #block-1 .images .image p {
    font-size: 14px;
  }
}
@media (max-width: 399px) {
  #block-1 .images .image p {
    font-size: 14px;
  }
}
#block-1 .images .image a {
  overflow: hidden;
}
#block-1 .images .image a #img2 {
  width: calc(calc(1vh + 1vw)*6.6);
}
#block-1 .images .image a #img3 {
  width: calc(calc(1vh + 1vw)*11.6);
}
#block-1 .images .image a #img4 {
  width: calc(calc(1vh + 1vw)*10.6);
}
#block-1 .images .image a .img-block1 {
  position: relative;
  transform: translate3d(calc(calc(var(--move-x) * -1) * 0.01), calc(calc(var(--move-y) * -1) * 0.01), 0);
  transition: all 2s cubic-bezier(0.05, 0.5, 0, 1);
  will-change: transform;
}
#block-1 .images .image a .img-block1:hover {
  transform: scale(1.1);
}
.offer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#block-2 {
  margin-top: 1500px;
  color: #FFFFFF;
  z-index: 1;
}
#block-2 p {
  font-size: 100px;
}
@media (max-width: 999px) {
  #block-2 {
    margin-top: 160px;
  }
}
.hide {
  opacity: 0;
  pointer-events: none !important;
}
#block-2 .container .img-block-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#block-2 .container .img-block-2 .img-1-block-2 img {
  width: calc(calc(1vh + 1vw) * 20);
}
@media (max-width: 999px) {
  #block-2 .container .img-block-2 .img-1-block-2 img {
    margin-top: 60px;
  }
}
#block-2 .container .img-block-2 .img-2-block-2 {
  margin-left: auto;
}
@media (max-width: 1919px) {
  #block-2 .container .img-block-2 .img-2-block-2 {
    margin-top: 0;
  }
}
@media (max-width: 1599px) {
  #block-2 .container .img-block-2 .img-2-block-2 {
    font-size: 16px;
  }
}
@media (max-width: 1279px) {
  #block-2 .container .img-block-2 .img-2-block-2 {
    font-size: 14px;
  }
}
@media (max-width: 959px) {
  #block-2 .container .img-block-2 .img-2-block-2 {
    font-size: 14px;
  }
}
@media (max-width: 639px) {
  #block-2 .container .img-block-2 .img-2-block-2 {
    font-size: 14px;
  }
}
@media (max-width: 399px) {
  #block-2 .container .img-block-2 .img-2-block-2 {
    font-size: 14px;
  }
}
#block-2 .container .img-block-2 .img-2-block-2 img {
  width: calc(calc(1vh + 1vw) * 15);
}
#block-2 .container .title-block2 {
  display: flex;
  flex-direction: column;
  font-family: playfair_reg;
  font-weight: normal;
  text-transform: uppercase;
  font-size: calc(calc(1vh + 1vw) * 3);
  white-space: nowrap;
}
#block-2 .container .title-block2 .first-row-block2,
#block-2 .container .title-block2 .second-row-block2 {
  display: flex;
  margin: 0 auto;
}
@media (max-width: 999px) {
  #block-2 .container .title-block2 .first-row-block2,
  #block-2 .container .title-block2 .second-row-block2 {
    margin: 0;
  }
}
#block-2 .container .title-block2 .line,
#block-2 .container .title-block2 .line2 {
  height: 1px;
  background-color: white;
  margin: auto 0;
  width: calc(calc(1vh + 1vw) * 30);
}
@media (max-width: 1000px) {
  #block-2 .container .title-block2 .line,
  #block-2 .container .title-block2 .line2 {
    width: 100%;
  }
}
#block-2 .container .main-text-block2 {
  font-family: HelveticaL;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-transform: uppercase;
  font-size: calc(calc(1vh + 1vw) * 1.4);
  line-height: calc(calc(1vh + 1vw) * 1.5);
  font-weight: 100;
}
@media (max-width: 999px) {
  #block-2 .container .main-text-block2 {
    margin: 60px 0;
  }
}
#block-2 .container .main-text-block2 .colored-t-b2 {
  font-family: playfair_reg;
  color: #FF4612;
  font-style: italic;
}
@media (max-width: 720px) {
  #block-2 .container .main-text-block2 {
    font-size: calc(calc(1vh + 1vw) * 1.1);
  }
}
@media (max-width: 350px) {
  #block-2 .container .main-text-block2 {
    font-size: calc(calc(1vh + 1vw) * 1);
  }
}
@media (max-width: 720px) {
  #block-2 .img-block-2 {
    margin-top: 60px;
  }
}
@media (max-width: 576px) {
  #block-2 .img-1-block-2 {
    margin: 0 auto;
    margin-top: -40px;
  }
  #block-2 .img-2-block-2 {
    display: none;
  }
}
@media (max-width: 420px) {
  #block-2 .img-1-block-2 {
    margin: 0 auto;
    margin-top: 0px;
  }
  #block-2 .img-2-block-2 {
    display: none;
  }
}
.block-3 {
  margin-top: 200px;
  margin-bottom: 1000px;
}
@media (max-width: 999px) {
  .block-3 {
    margin-bottom: 200px;
    margin-top: 300px;
  }
}
@media (max-width: 768px) {
  .block-3 {
    margin-bottom: 200px;
    margin-top: 160px;
  }
}
.block-3-cta {
  text-decoration: none;
  display: flex;
  align-items: center;
  width: 200px;
  gap: 16px;
  z-index: 1;
}
@media (max-width: 640px) {
  .block-3-cta {
    margin-top: 390px;
  }
}
.block-3-cta:hover span {
  color: #FF4612;
  border-bottom: 1px solid #FF4612;
}
.block-3-cta span {
  white-space: nowrap;
  letter-spacing: 0;
  color: #FFFFFF;
  text-transform: uppercase;
  font-family: HelveticaL;
  font-size: 20px;
  padding: 5px 0;
  border-bottom: 1px solid #FFFFFF;
  transition: all 0.3s ease;
}
@media (max-width: 1024px) {
  .block-3-cta .svgs {
    transform: scale(0.8);
  }
}
.block-3-cta .svgs .bukCTA {
  animation: animCTA 10s infinite linear;
}
.block-3-cta .svgs .arrowCTA {
  position: absolute;
  animation: none !important;
}
.block-3-arrowCTA {
  position: absolute;
  margin-left: 40px;
  margin-top: 42px;
}
.block-3-top_block,
.block-3-bottom_block {
  position: absolute;
  width: 100%;
  background-color: #101922;
}
@media (max-width: 820px) {
  .block-3-top_block,
  .block-3-bottom_block {
    display: none;
  }
}
.block-3-top_block {
  margin-top: -155px;
  z-index: -2;
  height: 200px;
}
@media (max-width: 999px) {
  .block-3-top_block {
    display: none;
  }
}
.block-3-bottom_block {
  margin-top: 60px;
  z-index: -2;
  height: 200px;
}
@media (max-width: 999px) {
  .block-3-bottom_block {
    display: none;
  }
}
.block-3-text {
  color: #FFFFFF;
  font-family: playfair_reg;
  font-size: calc(calc(1vh + 1vw) * 3);
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
}
.block-3-text-right {
  background-color: #101922;
  padding-right: 100%;
}
@media (max-width: 999px) {
  .block-3-text-right {
    padding-right: 0%;
  }
}
.block-3-text-left {
  background-color: #101922;
}
.block-3-text-line {
  position: absolute;
  margin-top: calc(calc(1vh + 1vw) * 3 / 1.8);
  background-color: #FFFFFF;
  height: 3px;
  width: 100%;
  z-index: -1;
}
@media (max-width: 999px) {
  .block-3-text-line {
    width: 83%;
  }
}
.block-3-cards {
  z-index: -3;
  position: absolute;
}
@media (max-width: 820px) {
  .block-3-cards {
    display: none;
  }
}
.block-3-cards-main_block {
  display: flex;
}
.block-3-cards-header_text {
  font-family: playfair_it;
  font-size: 26px;
  font-weight: 400;
}
.block-3-cards-main_text {
  font-family: HelveticaL;
  font-size: 16px;
  text-transform: none;
  color: #8F969E;
  font-weight: 400;
}
.block-3-cards-img {
  width: 236px;
  height: 135px;
  margin-right: 20px;
}
.block-3-cards-img-1600px_adaptive {
  display: none;
}
.block-3-cards-img-640px_adaptive {
  display: none;
}
@media (max-width: 1640px) {
  .block-3-cards-img {
    display: none;
  }
  .block-3-cards-img-1600px_adaptive {
    margin-right: 20px;
    display: block;
    margin-left: 20px;
  }
}
.block-3-cards-top-card {
  display: flex;
  width: 482px;
}
.block-3-cards-top-card-1 {
  margin-top: -110px;
  margin-left: 725px;
}
@media (max-width: 1640px) {
  .block-3-cards-top-card-1 {
    margin-top: -125px;
    margin-left: 130%;
  }
}
@media (max-width: 1450px) {
  .block-3-cards-top-card-1 {
    margin-left: 125%;
  }
}
@media (max-width: 1280px) {
  .block-3-cards-top-card-1 {
    margin-left: 75%;
  }
}
@media (max-width: 1170px) {
  .block-3-cards-top-card-1 {
    margin-left: 81%;
  }
}
@media (max-width: 1020px) {
  .block-3-cards-top-card-1 {
    margin-left: 100%;
    width: 338px;
  }
}
.block-3-cards-bottom {
  display: flex;
}
@media (max-width: 820px) {
  .block-3-cards-bottom {
    display: none;
  }
}
.block-3-cards-bottom-card {
  display: flex;
  width: 482px;
  margin-top: 80px;
}
@media (max-width: 1640px) {
  .block-3-cards-bottom-card {
    width: 339px;
  }
}
.block-3-cards-bottom-card-1 {
  margin-left: 432px;
}
@media (max-width: 1640px) {
  .block-3-cards-bottom-card-1 {
    margin-right: 58px;
    margin-left: 60%;
  }
}
@media (max-width: 1450px) {
  .block-3-cards-bottom-card-1 {
    margin-left: 46%;
  }
}
@media (max-width: 1280px) {
  .block-3-cards-bottom-card-1 {
    display: none;
  }
}
.block-3-cards-bottom-card-2 {
  margin-left: 60px;
  flex-direction: row-reverse;
}
@media (max-width: 1280px) {
  .block-3-cards-bottom-card-2 {
    margin-left: 200%;
  }
}
@media (max-width: 1170px) {
  .block-3-cards-bottom-card-2 {
    margin-left: 145%;
  }
}
@media (max-width: 1020px) {
  .block-3-cards-bottom-card-2 {
    margin-left: 100%;
    width: 338px;
  }
}
.block-3-cards-arrow_1 {
  width: 20px;
  height: 20px;
  margin-top: 10px;
  margin-left: 10px;
}
@media (max-width: 1640px) {
  .block-3-cards-arrow_1 {
    display: none;
  }
}
.block-3-cards-arrow_2 {
  width: 20px;
  height: 20px;
  margin-top: 10px;
  margin-right: 10px;
}
@media (max-width: 1640px) {
  .block-3-cards-arrow_2 {
    display: none;
  }
}
.block-3-adaptive {
  display: none;
}
@media (max-width: 820px) {
  .block-3-adaptive {
    display: flex;
    flex-direction: column;
    height: 300px;
    margin-top: 60px;
    justify-content: space-between;
  }
  .block-3-adaptive-cards-card {
    display: flex;
  }
  .block-3-adaptive-cards-card-2 {
    flex-direction: row-reverse;
  }
  .block-3-adaptive-cards-card-2-text {
    margin-right: 20px;
    margin-left: 0;
  }
  .block-3-adaptive-cards-card-2-img_adaptive {
    display: none;
  }
  .block-3-adaptive-cards-card-1 {
    margin-bottom: 20px;
  }
  .block-3-adaptive-cards-card-1-text {
    margin-left: 20px;
  }
  .block-3-adaptive-cards-card-1-img_adaptive {
    display: none;
  }
  .block-3-adaptive-cards-card-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .block-3-adaptive-cards-card-text-header_text {
    font-family: playfair_it;
    font-size: 27px;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  .block-3-adaptive-cards-card-text-main_text {
    font-family: HelveticaL;
    font-size: 18px;
    color: #8F969E;
  }
}
@media (max-width: 820px) and (max-width: 640px) {
  .block-3-adaptive {
    margin-top: 40px;
  }
}
@media (max-width: 820px) and (max-width: 640px) {
  .block-3-adaptive-cards-card {
    display: block;
  }
}
@media (max-width: 820px) and (max-width: 640px) {
  .block-3-adaptive-cards-card-2-img {
    display: none;
  }
}
@media (max-width: 820px) and (max-width: 640px) {
  .block-3-adaptive-cards-card-2-img_adaptive {
    display: block;
  }
}
@media (max-width: 820px) and (max-width: 640px) {
  .block-3-adaptive-cards-card-1-text {
    margin-left: 0;
  }
}
@media (max-width: 820px) and (max-width: 640px) {
  .block-3-adaptive-cards-card-1-img {
    display: none;
  }
}
@media (max-width: 820px) and (max-width: 640px) {
  .block-3-adaptive-cards-card-1-img_adaptive {
    display: block;
  }
}
@media (max-width: 820px) and (max-width: 640px) {
  .block-3-adaptive-cards-card-text {
    margin-top: 20px;
  }
}
@media (max-width: 820px) and (max-width: 640px) {
  .block-3-adaptive-cards-card-text-header_text {
    margin-bottom: 10px;
  }
}
@media (max-width: 820px) and (max-width: 1599px) {
  .block-3-adaptive-cards-card-text-main_text {
    font-size: 16px;
  }
}
@media (max-width: 820px) and (max-width: 959px) {
  .block-3-adaptive-cards-card-text-main_text {
    font-size: 14px;
  }
}
@media (max-width: 999px) {
  #block-4,
  #block-4-2 {
    padding: 0;
  }
}
#block-4 .container,
#block-4-2 .container {
  position: relative;
}
#block-4 .section,
#block-4-2 .section {
  position: relative;
  margin-top: 200px;
}
#block-4 .section #block-4__sec2,
#block-4-2 .section #block-4__sec2 {
  opacity: 1;
}
#block-4 .section__img,
#block-4-2 .section__img {
  position: absolute;
}
#block-4 .section .section__img,
#block-4-2 .section .section__img {
  width: calc(calc(1vh + 1vw) * 10);
}
@media (max-width: 1180px) {
  #block-4 .section .section__img,
  #block-4-2 .section .section__img {
    width: calc(calc(1vh + 1vw) * 8);
  }
}
#block-4 .section #block-4__img-1,
#block-4-2 .section #block-4__img-1 {
  left: 26%;
  top: -100px;
}
#block-4 .section #block-4__img-3,
#block-4-2 .section #block-4__img-3 {
  left: 76%;
  top: 50px;
}
#block-4 .section #block-4__img-2,
#block-4-2 .section #block-4__img-2 {
  top: 0px;
  left: 51%;
}
#block-4 .section #block-4__img-4,
#block-4-2 .section #block-4__img-4 {
  top: 200px;
  left: 26%;
}
#block-4 .section #block-4__img-5,
#block-4-2 .section #block-4__img-5 {
  top: -100px;
  left: 26%;
}
#block-4 .section #block-4__img-6,
#block-4-2 .section #block-4__img-6 {
  top: 0px;
  left: 51%;
}
#block-4 .section #block-4__img-7,
#block-4-2 .section #block-4__img-7 {
  top: 100px;
  left: 76%;
}
#block-4 .section #block-4__img-8,
#block-4-2 .section #block-4__img-8 {
  top: 200px;
  left: 26%;
}
#block-4 .section-content,
#block-4-2 .section-content {
  z-index: 1;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 40px;
}
#block-4 .section-content p,
#block-4-2 .section-content p {
  font-family: HelveticaL;
  font-size: 20px;
  font-size: calc(calc(1vh + 1vw) * 0.7);
  color: #8F969E;
  max-width: 655px;
  line-height: 110%;
}
#block-4 .section-content h3,
#block-4-2 .section-content h3 {
  font-size: calc(calc(1vh + 1vw) * 1.4);
  font-family: playfair_it;
  font-weight: 100;
  white-space: nowrap;
}
@media (max-width: 580px) {
  #block-4 .section-content h3,
  #block-4-2 .section-content h3 {
    margin-top: 50px;
  }
}
@media (max-width: 768px) {
  #block-4 .section-content h3,
  #block-4-2 .section-content h3 {
    white-space: normal;
  }
}
#block-4 h2,
#block-4-2 h2 {
  z-index: 1;
  color: #FFFFFF;
  font-weight: 400;
  font-size: calc(calc(1vh + 1vw) * 3.5);
  line-height: 100%;
  text-transform: uppercase;
  font-family: playfair_reg;
}
@media (max-width: 1000px) {
  #block-4 h2,
  #block-4-2 h2 {
    font-size: calc(calc(1vh + 1vw) * 3);
  }
}
@media (max-width: 768px) {
  #block-4 h2,
  #block-4-2 h2 {
    font-size: calc(calc(1vh + 1vw) * 2.5);
  }
}
@media (max-width: 580px) {
  #block-4 h2,
  #block-4-2 h2 {
    font-size: calc(calc(1vh + 1vw) * 2);
  }
}
@media (max-width: 446px) {
  #block-4 h2,
  #block-4-2 h2 {
    font-size: calc(calc(1vh + 1vw) * 1.6);
  }
}
#block-4 h2 .ital,
#block-4-2 h2 .ital {
  color: #FF4612;
  font-family: playfair_it;
}
#block-4-2 {
  padding-bottom: 100px;
  margin-bottom: 160px;
  margin-top: 400px;
}
#block-4 {
  margin-bottom: 600px;
}
/*

==================================================================================================================
-------------------------------------------------- block 5 -------------------------------------------------------
==================================================================================================================

*/
#block-5 .item-block-5 {
  margin-left: auto;
  width: 50%;
  text-transform: uppercase;
  text-align: center;
  font-family: HelveticaL;
  width: 400;
  font-size: 40px;
}
@media (max-width: 1919px) {
  #block-5 .item-block-5 {
    font-size: 30px;
  }
}
@media (max-width: 1599px) {
  #block-5 .item-block-5 {
    font-size: 24px;
  }
}
@media (max-width: 1279px) {
  #block-5 .item-block-5 {
    font-size: 22px;
    width: 70%;
  }
}
@media (max-width: 959px) {
  #block-5 .item-block-5 {
    font-size: 20px;
  }
}
@media (max-width: 639px) {
  #block-5 .item-block-5 {
    font-size: 20px;
    width: 100%;
  }
}
@media (max-width: 399px) {
  #block-5 .item-block-5 {
    font-size: 16px;
  }
}
#block-5 .item-block-5 span {
  color: #FFFFFF;
}
#block-5 .item-block-5 .first-title-block-5-colored-text {
  font-family: playfair_it;
  color: #FF4612;
}
#block-5 .first-title-block-5:nth-child(1) {
  text-align: center;
}
#block-5 .title-block-5 {
  text-transform: uppercase;
  font-family: playfair_reg;
  color: #FFFFFF;
  font-size: 100px;
  text-align: center;
  margin: 100px auto;
}
#block-5 .title-block-5 span:nth-child(1) {
  color: #FF4612;
  font-family: playfair_it;
}
#block-5 .title-block-5 span:nth-child(2) {
  font-family: playfair_it;
}
@media (max-width: 1919px) {
  #block-5 .title-block-5 {
    font-size: 80px;
  }
}
@media (max-width: 1599px) {
  #block-5 .title-block-5 {
    font-size: 60px;
    margin: 80px auto;
  }
}
@media (max-width: 1279px) {
  #block-5 .title-block-5 {
    font-size: 60px;
    margin: 60px auto;
  }
}
@media (max-width: 959px) {
  #block-5 .title-block-5 {
    font-size: 40px;
  }
}
@media (max-width: 639px) {
  #block-5 .title-block-5 {
    font-size: 36px;
  }
}
@media (max-width: 399px) {
  #block-5 .title-block-5 {
    font-size: 32px;
    margin: 40px auto;
  }
}
#block-5 .info-block-5 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: 80px;
}
#block-5 .info-item-block-5 {
  color: #FFFFFF;
  max-width: 385px;
  width: 100%;
}
#block-5 .info-item-block-5 .item-titile-block-5 {
  font-family: playfair_it;
  font-size: 30px;
  text-transform: uppercase;
}
@media (max-width: 1919px) {
  #block-5 .info-item-block-5 .item-titile-block-5 {
    font-size: 26px;
  }
}
@media (max-width: 1599px) {
  #block-5 .info-item-block-5 .item-titile-block-5 {
    font-size: 24px;
  }
}
@media (max-width: 1279px) {
  #block-5 .info-item-block-5 .item-titile-block-5 {
    font-size: 22px;
  }
}
@media (max-width: 959px) {
  #block-5 .info-item-block-5 .item-titile-block-5 {
    font-size: 20px;
  }
}
@media (max-width: 639px) {
  #block-5 .info-item-block-5 .item-titile-block-5 {
    font-size: 20px;
  }
}
@media (max-width: 399px) {
  #block-5 .info-item-block-5 .item-titile-block-5 {
    font-size: 18px;
  }
}
#block-5 .info-item-block-5 .info-text-block-5 {
  margin-top: 15px;
  width: 90%;
  font-size: 20px;
  font-family: HelveticaL;
  color: #8F969E;
}
@media (max-width: 1919px) {
  #block-5 .info-item-block-5 .info-text-block-5 {
    font-size: 18px;
  }
}
@media (max-width: 1599px) {
  #block-5 .info-item-block-5 .info-text-block-5 {
    font-size: 16px;
  }
}
@media (max-width: 1279px) {
  #block-5 .info-item-block-5 .info-text-block-5 {
    font-size: 14px;
  }
}
@media (max-width: 959px) {
  #block-5 .info-item-block-5 .info-text-block-5 {
    font-size: 14px;
  }
}
@media (max-width: 639px) {
  #block-5 .info-item-block-5 .info-text-block-5 {
    font-size: 14px;
  }
}
@media (max-width: 399px) {
  #block-5 .info-item-block-5 .info-text-block-5 {
    font-size: 14px;
  }
}
@media (max-width: 1200px) {
  #block-5 .info-text-block-5 {
    max-width: 90%;
  }
}
@media (max-width: 900px) {
  #block-5 .info-block-5 {
    flex-wrap: wrap;
  }
  #block-5 .info-item-block-5 {
    margin-top: 25px;
    width: 50%;
  }
}
@media (max-width: 640px) {
  #block-5 .info-block-5 {
    flex-wrap: wrap;
    justify-content: center;
  }
  #block-5 .info-item-block-5 {
    margin-top: 25px;
    width: 100%;
  }
}
.block-6 {
  margin-top: 300px;
  display: flex;
  align-items: center;
}
@media (max-width: 999px) {
  .block-6 {
    margin-bottom: 160px;
    margin-top: 160px;
  }
}
.block-6-header_text {
  margin-bottom: 70px;
  font-family: playfair_reg;
  font-size: 100px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media (max-width: 1919px) {
  .block-6-header_text {
    font-size: 80px;
  }
}
@media (max-width: 1599px) {
  .block-6-header_text {
    font-size: 60px;
  }
}
@media (max-width: 1279px) {
  .block-6-header_text {
    font-size: 60px;
  }
}
@media (max-width: 959px) {
  .block-6-header_text {
    font-size: 40px;
  }
}
@media (max-width: 639px) {
  .block-6-header_text {
    font-size: 36px;
  }
}
@media (max-width: 399px) {
  .block-6-header_text {
    font-size: 32px;
  }
}
.block-6-header_text-span {
  font-family: playfair_it;
  color: #FF4612;
}
.block-6-main-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #8F969E;
  cursor: pointer;
}
@media (min-width: 1000px) {
  .block-6-main-item {
    cursor: none;
  }
}
.block-6-main-item:hover .block-6-main-item-text {
  color: #FFFFFF;
}
.block-6-main-item:hover .block-6-cursor {
  height: 206px;
}
.block-6-main-item:hover .block-6-main-item-second_text {
  color: #FFFFFF;
}
.block-6-main-item-text {
  white-space: nowrap;
  font-family: playfair_it;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 40px;
  line-height: 99.5%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #8F969E;
  transition: all 0.3s ease;
  text-overflow: ellipsis;
}
@media (max-width: 1919px) {
  .block-6-main-item-text {
    font-size: 30px;
  }
}
@media (max-width: 1599px) {
  .block-6-main-item-text {
    font-size: 24px;
  }
}
@media (max-width: 1279px) {
  .block-6-main-item-text {
    font-size: 22px;
  }
}
@media (max-width: 959px) {
  .block-6-main-item-text {
    font-size: 20px;
  }
}
@media (max-width: 639px) {
  .block-6-main-item-text {
    font-size: 20px;
  }
}
@media (max-width: 399px) {
  .block-6-main-item-text {
    font-size: 18px;
  }
}
.block-6-main-item-second_text {
  max-width: 800px;
  height: 49px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-family: HelveticaL;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 99.5%;
  letter-spacing: 0.05em;
  color: #8F969E;
  transition: all 0.3s ease;
}
@media (max-width: 1600px) {
  .block-6-main-item-second_text {
    max-width: 630px;
  }
}
@media (max-width: 1280px) {
  .block-6-main-item-second_text {
    max-width: 470px;
  }
}
@media (max-width: 960px) {
  .block-6-main-item-second_text {
    max-width: 310px;
    height: 57px;
    font-size: 14px;
    -webkit-line-clamp: 4;
  }
}
@media (max-width: 750px) {
  .block-6-main-item-second_text {
    display: none;
  }
}
.block-6-main-line {
  height: 1px;
  background-color: #8F969E;
}
.block-6-cursor {
  position: fixed;
  top: calc(calc(1vh + 1vw) * 32 * -0.5);
  left: calc(calc(calc(1vh + 1vw) * 14) * -0.5);
  width: calc(calc(1vh + 1vw) * 14);
  height: 0;
  overflow: hidden;
  transform: translate3d(var(--move-x), var(--move-y), 0);
  transition: transform 2s cubic-bezier(0.05, 0.5, 0, 1), height 1s ease;
  will-change: transform;
  z-index: 0;
  pointer-events: none;
}
.block-6-cursor__image {
  position: relative;
  width: calc(calc(calc(1vh + 1vw) * 14) * 1.5);
  height: calc(calc(calc(1vh + 1vw) * 8) * 1.5);
  top: calc(calc(calc(1vh + 1vw) * 8) * -0.25);
  left: calc(calc(calc(1vh + 1vw) * 14) * -0.04);
  background-size: cover;
  background-position: center;
  transform: translate3d(calc(var(--move-x) / -10), calc(var(--move-y) / -100), 0);
  transition: transform 2s cubic-bezier(0.05, 0.5, 0, 1);
  will-change: transform;
}
/*--------------------------------block-7------------------------------*/
.block-7 {
  margin-top: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.block-7-header {
  margin-bottom: 70px;
  background-color: #101922;
}
@media (max-width: 550px) {
  .block-7-header {
    margin-bottom: 30px;
  }
}
.block-7-header-main_text {
  text-transform: uppercase;
  text-align: center;
  font-family: playfair_reg;
  font-size: calc(calc(1vh + 1vw) * 3.33);
  color: #FFFFFF;
  width: 1177px;
}
@media (max-width: 1000px) {
  .block-7-header-main_text {
    width: 700px;
    font-size: calc(calc(calc(1vh + 1vw) * 3.33) / 1.2);
  }
}
@media (max-width: 550px) {
  .block-7-header-main_text {
    width: 300px;
  }
}
.block-7-header-main_text span {
  color: #FF4612;
  font-family: playfair_it;
}
.block-7-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 610px;
}
@media (max-width: 1600px) {
  .block-7-form {
    width: 570px;
  }
}
@media (max-width: 1280px) {
  .block-7-form {
    width: 470px;
  }
}
@media (max-width: 960px) {
  .block-7-form {
    width: 430px;
  }
}
@media (max-width: 550px) {
  .block-7-form {
    width: 320px;
  }
}
.block-7-form-main_text {
  font-family: HelveticaL;
  font-size: calc(calc(calc(1vh + 1vw) * 3.33) / 2.5);
  text-transform: lowercase;
  color: #FFFFFF;
  margin-bottom: 70px;
  z-index: -1;
}
@media (max-width: 960px) {
  .block-7-form-main_text {
    font-size: calc(calc(calc(1vh + 1vw) * 3.33) / 2.4);
  }
}
@media (max-width: 550px) {
  .block-7-form-main_text {
    margin-bottom: 30px;
  }
}
.block-7-form-input {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  margin-bottom: 40px;
}
@media (max-width: 1600px) {
  .block-7-form-input {
    margin-bottom: 33px;
  }
}
@media (max-width: 1280px) {
  .block-7-form-input {
    margin-bottom: 24px;
  }
}
@media (max-width: 960px) {
  .block-7-form-input {
    margin-bottom: 18px;
  }
}
.block-7-form-input-text {
  font-family: playfair_reg;
  font-size: calc(calc(calc(1vh + 1vw) * 3.33) / 5.5);
  color: #8F969E;
  text-transform: uppercase;
  margin-bottom: calc(calc(calc(1vh + 1vw) * 3.33) / 10);
}
@media (max-width: 1280px) {
  .block-7-form-input-text {
    font-size: 12px;
  }
}
.block-7-form-input-input {
  font-family: HelveticaL;
  outline: none;
  height: 90px;
  width: 100%;
  background: #101922;
  border: 1px solid;
  border-radius: 100px;
  border-color: #8F969E;
  color: #8F969E;
  font-size: calc(calc(calc(1vh + 1vw) * 3.33) / 2.5);
  padding-left: 47px;
  padding-right: 47px;
}
@media (max-width: 1600px) {
  .block-7-form-input-input {
    height: 82px;
  }
}
@media (max-width: 1280px) {
  .block-7-form-input-input {
    height: 70px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 960px) {
  .block-7-form-input-input {
    height: 60px;
    padding-left: 25px;
    padding-right: 25px;
  }
}
.block-7-form-button {
  margin-top: 40px;
  font-family: HelveticaL;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  line-height: 110%;
  width: 100%;
  height: 90px;
  border-radius: 100px;
  border: 1px solid;
  border-color: #FF4612;
  font-size: calc(calc(calc(1vh + 1vw) * 3.33) / 2.5);
  color: #FF4612;
  background-color: #101922;
  transition: all 0.3s ease;
}
.block-7-form-button:hover {
  background-color: #FF4612;
  color: #FFFFFF;
  cursor: pointer;
}
@media (max-width: 1600px) {
  .block-7-form-button {
    height: 82px;
  }
}
@media (max-width: 1280px) {
  .block-7-form-button {
    height: 70px;
    margin-top: 30px;
  }
}
@media (max-width: 960px) {
  .block-7-form-button {
    height: 60px;
    margin-top: 18px;
  }
}
.block-7 input:hover {
  border-color: #FFFFFF;
  transition: 0.2s ease;
}
.block-7 input:hover label {
  border-color: #FFFFFF;
  transition: 0.2s ease;
}
.block-7 input:active {
  border-color: #FF4612;
  transition: 0.2s ease;
  color: #FFFFFF;
}
.block-7 input:focus {
  border-color: #FF4612;
  transition: 0.2s ease;
  color: #FFFFFF;
}
/*--------------------------------------------------footer----------------------------------------*/
#footer {
  padding-bottom: 350px;
  margin-top: 160px;
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#footer .footer-logo-mini {
  position: relative;
  display: none;
}
#footer .footer-ul-nav {
  display: flex;
  justify-content: space-around;
  font-family: playfair_reg;
}
#footer .footer-ul-nav .nav-footer-item a {
  font-size: 20px;
  font-size: calc(calc(1vh + 1vw) * 0.7);
  color: #8F969E;
  text-decoration: none;
  cursor: pointer;
}
#footer .footer-ul-nav .nav-footer-item a:hover {
  color: white;
}
@media (max-width: 1000px) {
  #footer .footer-ul-nav .nav-footer-item a {
    font-size: 16px;
  }
}
#footer .nav-footer {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  width: 100%;
}
#footer .footer-ul-nav {
  list-style-type: none;
  width: 100%;
}
#footer .footer-line {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 1px;
  width: 100%;
  background-color: #8F969E;
}
#footer .footer-contacts {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-family: playfair_it;
}
#footer .footer-contacts .footer-or {
  font-family: HelveticaL;
  color: #8F969E;
}
#footer .footer-contacts ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  gap: 20px;
}
#footer .footer-contacts ul li a {
  text-decoration: none;
  color: #8F969E;
  text-transform: uppercase;
}
#footer .footer-contacts ul li a:hover {
  color: white;
}
@media (max-width: 720px) {
  #footer .footer-logo {
    display: none;
  }
  #footer .footer-logo-mini {
    width: 50px;
    display: block;
    top: calc(calc(1vh + 1vw) * 2.5);
  }
  #footer .footer-logo-mini img {
    margin: 0 auto;
  }
  #footer .footer-ul-nav {
    flex-direction: column;
  }
  #footer .footer-ul-nav:nth-child(2) {
    text-align: end;
  }
}
@media (max-width: 600px) {
  #footer .footer-or {
    width: 100%;
    margin-bottom: 20px;
  }
  #footer .footer-logo-mini {
    scale: 0.7;
  }
  #footer .footer-contacts {
    flex-wrap: wrap;
  }
  #footer .footer-contacts ul {
    width: 100%;
  }
}
@media (max-width: 400px) {
  #footer .footer-logo-mini {
    top: 0;
    scale: 1;
  }
}
.title-tic-main {
  margin-top: 240px;
  color: white;
  font-size: 100px;
  text-transform: uppercase;
  font-family: playfair_reg;
}
.price-list-name {
  color: #8F969E;
  font-family: playfair_it;
  font-size: 40px;
  text-transform: uppercase;
  margin-top: 60px;
}
@media (max-width: 400px) {
  .price-list-name {
    font-size: 20px;
  }
}
.line-tic {
  width: 100%;
  height: 1px;
  background-color: #8F969E;
  margin-top: 30px;
}
.wr-tic {
  display: grid;
  margin-top: 100px;
  column-gap: 20px;
  row-gap: 20px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(7, 30px);
  color: white;
  font-family: HelveticaL;
  font-size: calc(calc(1vh + 1vw) * 0.8);
}
.wr-tic p {
  font-size: 20px;
}
.wr-tic #nm-1,
.wr-tic #nm-2,
.wr-tic #nm-3,
.wr-tic #nm-4 {
  color: #8F969E;
  font-family: playfair_reg;
}
.wr-tic .name-mp-gr {
  font-family: playfair_reg;
  text-align: start;
  grid-column-start: 1;
  grid-row-start: 2;
}
.wr-tic .name-mp-gr span {
  text-decoration: underline;
  font-size: 30px;
  font-family: HelveticaL;
}
@media (max-width: 960px) {
  .wr-tic .name-mp-gr {
    grid-row-start: 2 !important;
    grid-column-end: 6 ;
    grid-column-start: 1 ;
  }
}
.wr-tic .name-serv {
  grid-column-start: 2 ;
  font-size: 20px;
}
.wr-tic .pr-gr {
  grid-column-start: 3 ;
  font-size: 20px;
}
.wr-tic .pr-gr-1 {
  grid-column-start: 4 ;
  font-size: 20px;
}
.wr-tic .buy-type-btn {
  grid-column-start: 5 ;
}
.wr-tic #gr-1 {
  grid-row-start: 2;
}
@media (max-width: 960px) {
  .wr-tic #gr-1 {
    grid-row-start: 4;
  }
}
.wr-tic #gr-2 {
  grid-row-start: 3;
}
@media (max-width: 960px) {
  .wr-tic #gr-2 {
    grid-row-start: 5;
  }
}
.wr-tic #gr-3 {
  grid-row-start: 4;
}
@media (max-width: 960px) {
  .wr-tic #gr-3 {
    grid-row-start: 6;
  }
}
@media (max-width: 960px) {
  .wr-tic .name-serv,
  .wr-tic .pr-gr,
  .wr-tic .pr-gr-1,
  .wr-tic .buy-type-btn {
    grid-column-start: auto ;
  }
  .wr-tic #nm-2,
  .wr-tic #nm-3,
  .wr-tic #nm-4 {
    grid-row-start: 3;
  }
}
@media (max-width: 460px) {
  .wr-tic {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(9, 30px);
  }
  .wr-tic .rl-more-info {
    width: 66px;
  }
  .wr-tic .y1 {
    grid-row-start: 5 !important;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 6;
  }
  .wr-tic .y2 {
    grid-row-start: 7 !important;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 6;
  }
  .wr-tic .y3 {
    margin-top: 10px;
    grid-row-start: 9 !important;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 6;
  }
  .wr-tic .btn-tic-buy {
    padding: 10px 100px;
  }
  .wr-tic #gr-1 {
    grid-row-start: 2;
  }
  .wr-tic #gr-2 {
    grid-row-start: 3;
  }
  .wr-tic #gr-3 {
    grid-row-start: 4;
  }
}
@media (max-width: 460px) and (max-width: 960px) {
  .wr-tic #gr-1 {
    grid-row-start: 4;
  }
}
@media (max-width: 460px) and (max-width: 960px) {
  .wr-tic #gr-2 {
    grid-row-start: 6;
  }
}
@media (max-width: 460px) and (max-width: 960px) {
  .wr-tic #gr-3 {
    grid-row-start: 8;
  }
}
.rl-more-info {
  font-size: 12px;
  width: 70px;
}
.fx {
  grid-template-rows: repeat(5, 30px);
}
.name-mp-gr p {
  color: #FF4612;
  font-family: HelveticaL;
  text-decoration: none !important;
}
.b23 {
  width: 104px;
}
.btn-tic-buy {
  padding: 5px 50px;
  text-decoration: none;
  font-size: calc(calc(1vh + 1vw) * 0.7);
  background-color: none;
  color: #FF4612;
  text-align: center;
  text-transform: uppercase;
  font-family: HelveticaL;
  font-weight: 100;
  border: 1px solid #FF4612;
  border-radius: 30px;
  max-width: 315px;
  white-space: nowrap;
  transition: all 0.2s ease;
}
.btn-tic-buy:hover {
  background-color: #FF4612;
  color: #FFFFFF;
}
.btn-tic-buy:active {
  color: #101922;
}
.btn-tic-buy-disabled {
  opacity: 0.6;
  pointer-events: none;
}
.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 7.33333em;
  height: 7.33333em;
  margin-left: -3.66667em;
  margin-top: -3.66667em;
  z-index: 2000;
}
.loader-block {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  opacity: 0;
  width: 2em;
  height: 2em;
  background: #fdfdfd;
  -webkit-animation: show 0.88s step-end infinite alternate, pulse 0.88s linear infinite alternate;
  animation: show 0.88s step-end infinite alternate, pulse 0.88s linear infinite alternate;
}
.loader-block:nth-child(1) {
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-animation-delay: 0.065s;
  animation-delay: 0.065s;
}
.loader-block:nth-child(2) {
  -moz-transform: translate(2.66667em, 0);
  -ms-transform: translate(2.66667em, 0);
  -webkit-transform: translate(2.66667em, 0);
  transform: translate(2.66667em, 0);
  -webkit-animation-delay: 0.13s;
  animation-delay: 0.13s;
}
.loader-block:nth-child(3) {
  -moz-transform: translate(5.33333em, 0);
  -ms-transform: translate(5.33333em, 0);
  -webkit-transform: translate(5.33333em, 0);
  transform: translate(5.33333em, 0);
  -webkit-animation-delay: 0.195s;
  animation-delay: 0.195s;
}
.loader-block:nth-child(4) {
  -moz-transform: translate(0, 2.66667em);
  -ms-transform: translate(0, 2.66667em);
  -webkit-transform: translate(0, 2.66667em);
  transform: translate(0, 2.66667em);
  -webkit-animation-delay: 0.325s;
  animation-delay: 0.325s;
}
.loader-block:nth-child(5) {
  -moz-transform: translate(2.66667em, 2.66667em);
  -ms-transform: translate(2.66667em, 2.66667em);
  -webkit-transform: translate(2.66667em, 2.66667em);
  transform: translate(2.66667em, 2.66667em);
  -webkit-animation-delay: 0.13s;
  animation-delay: 0.13s;
}
.loader-block:nth-child(6) {
  -moz-transform: translate(5.33333em, 2.66667em);
  -ms-transform: translate(5.33333em, 2.66667em);
  -webkit-transform: translate(5.33333em, 2.66667em);
  transform: translate(5.33333em, 2.66667em);
  -webkit-animation-delay: 0.455s;
  animation-delay: 0.455s;
}
.loader-block:nth-child(7) {
  -moz-transform: translate(0, 5.33333em);
  -ms-transform: translate(0, 5.33333em);
  -webkit-transform: translate(0, 5.33333em);
  transform: translate(0, 5.33333em);
  -webkit-animation-delay: 0.39s;
  animation-delay: 0.39s;
}
.loader-block:nth-child(8) {
  -moz-transform: translate(2.66667em, 5.33333em);
  -ms-transform: translate(2.66667em, 5.33333em);
  -webkit-transform: translate(2.66667em, 5.33333em);
  transform: translate(2.66667em, 5.33333em);
  -webkit-animation-delay: 0.26s;
  animation-delay: 0.26s;
}
.loader-block:nth-child(9) {
  -moz-transform: translate(5.33333em, 5.33333em);
  -ms-transform: translate(5.33333em, 5.33333em);
  -webkit-transform: translate(5.33333em, 5.33333em);
  transform: translate(5.33333em, 5.33333em);
}
@-webkit-keyframes pulse {
  from,
  40% {
    background: #fdfdfd;
  }
  to {
    background: #dadada;
  }
}
@-webkit-keyframes show {
  from,
  40% {
    opacity: 0;
  }
  41%,
  to {
    opacity: 1;
  }
}
@keyframes pulse {
  from,
  40% {
    background: #fdfdfd;
  }
  to {
    background: #dadada;
  }
}
@keyframes show {
  from,
  40% {
    opacity: 0;
  }
  41%,
  to {
    opacity: 1;
  }
}
