*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*---------------------Переменные-----------------------*/
@keyframes opp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@font-face {
  font-family: playfair_reg;
  src: url('fonts/PlayfairDisplay-Regular.woff');
}
@font-face {
  font-family: playfair_it;
  src: url('fonts/PlayfairDisplay-Italic.woff');
}
@font-face {
  font-family: HelveticaL;
  src: url('fonts/HelveticaLight.woff');
}
body {
  background-color: #101922;
  overflow-x: hidden;
  height: 100%;
}
@keyframes animCTA {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.cta {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 16px;
  z-index: 1;
}
@media (max-width: 1600px) {
  .cta {
    margin-top: 18%;
    margin-left: -25%;
  }
}
@media (max-width: 980px) {
  .cta {
    margin-top: 5%;
    margin-left: 1%;
  }
}
.cta:hover span {
  color: #FF4612;
  border-bottom: 1px solid #FF4612;
}
.cta span {
  white-space: nowrap;
  letter-spacing: 0;
  color: #FFFFFF;
  text-transform: uppercase;
  font-family: HelveticaL;
  font-size: 20px;
  padding: 5px 0;
  border-bottom: 1px solid #FFFFFF;
  transition: all 0.3s ease;
}
@media (max-width: 1600px) {
  .cta span {
    font-size: calc(18px + (20 - 18) * ((100vw - 320px) / (1600 - 320px)));
  }
}
@media (max-width: 540px) {
  .cta span {
    font-size: calc(calc(1vh + 1vw)*1);
  }
}
@media (max-width: 1024px) {
  .cta .svgs {
    transform: scale(0.8);
  }
}
.cta .svgs .bukCTA {
  animation: animCTA 10s infinite linear;
}
.cta .svgs .arrowCTA {
  position: absolute;
  animation: none !important;
}
.btn-secondary {
  padding: 14px 40px;
  text-decoration: none;
  background-color: none;
  color: #FF4612;
  text-align: center;
  text-transform: uppercase;
  font-family: HelveticaL;
  font-weight: 100;
  border: 1px solid #FF4612;
  border-radius: 30px;
  max-width: 315px;
  white-space: nowrap;
  transition: all 0.2s ease;
}
.btn-secondary:hover {
  background-color: #FF4612;
  color: #FFFFFF;
}
.btn-secondary:active {
  color: #101922;
}
.btn-secondary-disabled {
  opacity: 0.6;
  pointer-events: none;
}
/*----------------Меню----------------*/
.container {
  max-width: 1600px;
  margin: calc(calc(1vh + 1vw)*2) auto;
  position: relative;
}
@media (max-width: 1600px) {
  .container {
    padding: 0 calc(calc(1vh + 1vw)*2);
  }
}
.header {
  top: 00%;
  z-index: 1;
  position: fixed;
  width: 100%;
  will-change: transform;
}
.header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header nav .menu {
  transition: all 0.5s ease;
  opacity: 0;
  top: calc(calc(1vh + 1vw)*2.5);
  position: absolute;
  padding: calc(calc(1vh + 1vw) * 2) 0;
  padding-top: calc(calc(1vh + 1vw) * 2);
  background-color: #101922;
  width: 100%;
  overflow: hide;
  pointer-events: none;
}
.header nav .menu .menu-footer {
  margin-top: 0%;
  width: 98%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1600px) {
  .header nav .menu .menu-footer {
    width: 90%;
  }
}
@media (max-width: 640px) {
  .header nav .menu .menu-footer {
    flex-direction: column;
    align-items: flex-start;
  }
}
.header nav .menu .menu-footer .cta {
  margin-top: 0;
}
.header nav .menu .menu-footer .cta span {
  font-size: calc(calc(1vh + 1vw)*0.7);
}
.header nav .menu .menu-footer ul {
  list-style: none;
  display: flex;
  gap: calc(calc(1vh + 1vw)*2);
}
@media (max-width: 360px) {
  .header nav .menu .menu-footer ul {
    gap: calc(calc(1vh + 1vw)*1);
  }
}
.header nav .menu .menu-footer ul li a {
  display: inline-block;
  font-size: calc(calc(1vh + 1vw) * 1.4);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.02em;
  color: #8F969E;
  transition: all 0.2s ease;
  font-family: playfair_it;
}
.header nav .menu .menu-footer ul li a::after {
  background-color: #FFFFFF;
  display: block;
  content: "";
  height: 2px;
  width: 0%;
  transition: width 0.3s ease;
}
.header nav .menu .menu-footer ul li a:hover {
  color: #FFFFFF;
}
.header nav .menu .lists {
  display: flex;
  gap: 60px;
  align-items: center;
}
.header nav .menu .ul2 {
  width: 100%;
  opacity: 0;
  list-style: none;
}
@media (max-width: 540px) {
  .header nav .menu .ul2 {
    display: none;
  }
}
.header nav .menu .ul2 li {
  width: 100%;
}
.header nav .menu .ul2 li a {
  width: 100%;
  display: block;
  border-bottom: 1px solid #8F969E;
  padding: calc(calc(1vh + 1vw)*1.5) 0;
  font-size: calc(calc(1vh + 1vw) * 1.05);
  text-decoration: none;
  color: #8F969E;
  text-transform: uppercase;
  font-family: HelveticaL;
  transition: all 0.3s ease;
  letter-spacing: 0.02em;
}
.header nav .menu .ul2 li a:hover .cursor {
  height: calc(calc(1vh + 1vw) * 8);
}
.header nav .menu .ul2 li a .cursor {
  pointer-events: none;
  position: fixed;
  width: calc(calc(1vh + 1vw) * 14);
  top: calc(calc(calc(1vh + 1vw) * 8) * -0.5);
  left: calc(calc(calc(1vh + 1vw) * 14) * -0.5);
  overflow: hidden;
  transform: translate3d(var(--move-x), var(--move-y), 0);
  transition: transform 2s cubic-bezier(0.05, 0.5, 0, 1), height 0.5s ease;
  will-change: transform;
  z-index: 0;
  height: 0;
}
.header nav .menu .ul2 li a .cursor__image {
  position: relative;
  width: calc(calc(calc(1vh + 1vw) * 14) * 1.5);
  height: calc(calc(calc(1vh + 1vw) * 8) * 1.5);
  top: calc(calc(calc(1vh + 1vw) * 8) * -0.25);
  left: calc(calc(calc(1vh + 1vw) * 14) * -0.04);
  background-size: cover;
  background-position: center;
  transform: translate3d(calc(var(--move-x) / -10), calc(var(--move-y) / -10), 0);
  transition: transform 2s cubic-bezier(0.05, 0.5, 0, 1);
  will-change: transform;
}
.header nav .menu .ul2 li a span {
  vertical-align: top;
  font-size: calc(calc(1vh + 1vw));
}
.header nav .menu .ul2 li a:hover {
  color: #FFFFFF;
}
.header nav .menu .ul1 {
  list-style: none;
}
.header nav .menu .ul1 .active {
  display: block !important;
}
.header nav .menu .ul1 .ul2_mobile {
  display: none;
  width: 100%;
  opacity: 1;
  list-style: none;
}
.header nav .menu .ul1 .ul2_mobile li {
  width: 100%;
}
.header nav .menu .ul1 .ul2_mobile li a {
  width: 100%;
  display: block;
  border-bottom: 1px solid #8F969E;
  padding: calc(calc(1vh + 1vw)*1.5) 0;
  font-size: calc(calc(1vh + 1vw) * 1.05);
  text-decoration: none;
  color: #8F969E;
  text-transform: uppercase;
  font-family: HelveticaL;
  transition: all 0.3s ease;
  letter-spacing: 0.02em;
}
.header nav .menu .ul1 .ul2_mobile li a span {
  vertical-align: top;
  font-size: calc(calc(1vh + 1vw));
}
.header nav .menu .ul1 .ul2_mobile li a:hover {
  color: #FFFFFF;
}
.header nav .menu .ul1 li {
  margin-bottom: calc(calc(1vh + 1vw)*1.3);
}
.header nav .menu .ul1 li a {
  display: inline-block;
  font-size: calc(calc(1vh + 1vw) * 1.4);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.02em;
  color: #8F969E;
  transition: all 0.2s ease;
  font-family: playfair_reg;
}
.header nav .menu .ul1 li a::after {
  background-color: #FFFFFF;
  display: block;
  content: "";
  height: 2px;
  width: 0%;
  transition: width 0.3s ease;
}
.header nav .menu .ul1 li .a-hover::after {
  background-color: #FFFFFF;
  display: block;
  content: "";
  height: 2px;
  width: 100%;
  transition: width 0.3s ease;
}
.header nav .menu-active {
  position: absolute;
  transition: all 0.5s ease;
  opacity: 1;
  width: 100%;
  height: calc(calc(1vh + 1vw) * 27);
  pointer-events: auto;
}
.header nav .logo {
  z-index: 1;
  width: calc(calc(1vh + 1vw)*9);
}
.header nav .burger {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}
.header nav .burger input {
  display: block;
  width: 48px;
  height: 35px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */
  -webkit-touch-callout: none;
}
.header nav .burger input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-20px, -17px);
  width: 48px;
}
.header nav .burger input:checked ~ span:nth-last-child(2) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
  width: 48px;
}
.header nav .burger input:checked ~ span:nth-last-child(3) {
  opacity: 1;
  width: 48px;
  transform: rotate(-45deg) translate(-20px, 17px);
}
.header nav .burger:hover span:nth-last-child(2) {
  width: 48px;
}
.header nav .burger:hover span {
  width: 48px;
}
.header nav .burger span {
  display: block;
  width: 14px;
  height: 2px;
  margin-bottom: 8px;
  position: relative;
  background: #cdcdcd;
  transition: 0.3s ease;
  transform-origin: 0% 0%;
}
.header nav .burger span:nth-last-child(2) {
  width: 28px;
  transform-origin: 0% 100%;
}
.header nav .burger span:nth-last-child(3) {
  width: 48px;
}
/*----------------------block-1--------------------*/
#block-1 .block-1__header {
  margin-top: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 980px) {
  #block-1 .block-1__header {
    flex-direction: column;
    align-items: flex-start;
  }
}
#block-1 h1 {
  padding-left: 5px;
  font-size: calc(calc(1vh + 1vw)*4.2);
  width: min-content;
  line-height: 0.99;
  font-family: playfair_reg;
  font-weight: 100;
  text-transform: uppercase;
  color: #FFFFFF;
  will-change: transform;
}
@media (max-width: 900px) {
  #block-1 h1 {
    font-size: calc(calc(1vh + 1vw)*3.6);
  }
}
@media (max-width: 640px) {
  #block-1 h1 {
    font-size: calc(calc(1vh + 1vw)*3.2);
  }
}
@media (max-width: 540px) {
  #block-1 h1 {
    font-size: calc(calc(1vh + 1vw)*2.7);
  }
}
@media (max-width: 440px) {
  #block-1 h1 {
    font-size: calc(calc(1vh + 1vw)*2.3);
  }
}
@media (max-width: 360px) {
  #block-1 h1 {
    font-size: calc(calc(1vh + 1vw)*2);
  }
}
#block-1 h1 .ital {
  font-family: playfair_it;
  color: #FF4612;
}
#block-1 .images {
  margin-top: 60%;
  display: flex;
  width: 100%;
  justify-content: space-between;
  will-change: transform;
}
#block-1 .images .image {
  display: flex;
  width: calc(calc(1vh + 1vw)*8.5);
  height: calc(calc(1vh + 1vw)*10);
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 640px) {
  #block-1 .images .image:nth-last-child(1) {
    display: none;
  }
}
@media (max-width: 440px) {
  #block-1 .images .image:nth-last-child(3) {
    display: none;
  }
}
#block-1 .images .image:nth-last-child(3) {
  width: calc(calc(1vh + 1vw)*6);
  height: calc(calc(1vh + 1vw)*10.5);
}
#block-1 .images .image:nth-last-child(2) {
  width: calc(calc(1vh + 1vw)*10.6);
  height: calc(calc(1vh + 1vw)*18.6);
}
#block-1 .images .image:nth-last-child(1) {
  width: calc(calc(1vh + 1vw)*8.6);
  height: calc(calc(1vh + 1vw)*12.6);
}
#block-1 .images .image p {
  color: #FFFFFF;
  font-family: HelveticaL;
  font-weight: 100;
  font-size: calc(calc(1vh + 1vw)*0.7);
}
#block-1 .images .image a {
  overflow: hidden;
}
#block-1 .images .image a #img2 {
  width: calc(calc(1vh + 1vw)*6.6);
}
#block-1 .images .image a #img3 {
  width: calc(calc(1vh + 1vw)*11.6);
}
#block-1 .images .image a #img4 {
  width: calc(calc(1vh + 1vw)*10.6);
}
#block-1 .images .image a .img-block1 {
  position: relative;
  transform: translate3d(calc(calc(var(--move-x) * -1) * 0.01), calc(calc(var(--move-y) * -1) * 0.01), 0);
  transition: all 2s cubic-bezier(0.05, 0.5, 0, 1);
  will-change: transform;
}
#block-1 .images .image a .img-block1:hover {
  transform: scale(1.1);
}
.offer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#block-2 {
  margin-top: 1500px;
  color: #FFFFFF;
  z-index: 1;
}
#block-2 p {
  font-size: 100px;
}
.hide {
  opacity: 0;
}
#block-2 .container .block2-art,
#block-2 .container .block2-magic {
  font-size: calc(calc(1vh + 1vw) * 5.7);
  text-transform: uppercase;
}
#block-2 .container .block-2-line1 {
  width: calc(calc(calc(1vh + 1vw) * 14) * 3.3);
}
#block-2 .container .block-2-line2 {
  width: calc(calc(calc(1vh + 1vw) * 14) * 3.3);
}
#block-4 {
  padding-bottom: 800px;
  margin-top: 200px;
}
#block-4 .section {
  position: relative;
}
#block-4 .section #block-4__sec2 {
  opacity: 0;
  position: relative;
  top: -3138px;
}
#block-4 .section #block-4__sec {
  z-index: 0;
}
#block-4 .section__img {
  position: absolute;
}
#block-4 .section #block-4__img-1 {
  left: 26%;
  top: 8%;
}
#block-4 .section #block-4__img-3 {
  left: 76%;
  top: 20%;
}
#block-4 .section #block-4__img-2 {
  top: 15%;
  left: 51%;
}
#block-4 .section #block-4__img-4 {
  top: 27%;
  left: 26%;
}
#block-4 .section #block-4__img-5 {
  top: 35%;
  left: 26%;
}
#block-4 .section #block-4__img-6 {
  top: 42%;
  left: 51%;
}
#block-4 .section #block-4__img-7 {
  top: 49%;
  left: 76%;
}
#block-4 .section #block-4__img-8 {
  top: 56%;
  left: 26%;
}
#block-4 .section-content {
  z-index: 1;
  padding-top: 270px;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 40px;
}
#block-4 .section-content p {
  font-family: HelveticaL;
  font-size: 20px;
  color: #8F969E;
  max-width: 655px;
  line-height: 110%;
}
#block-4 .section-content h3 {
  margin-top: 200px;
  font-size: calc(calc(1vh + 1vw) * 1.4);
  font-family: playfair_it;
  font-weight: 100;
  white-space: nowrap;
}
@media (max-width: 768px) {
  #block-4 .section-content h3 {
    margin-top: 100px;
  }
}
@media (max-width: 580px) {
  #block-4 .section-content h3 {
    margin-top: 50px;
  }
}
#block-4 .container {
  position: relative;
}
#block-4 h2 {
  margin-top: 200px;
  z-index: 1;
  color: #FFFFFF;
  position: absolute;
  width: 1433px;
  height: 100px;
  font-weight: 400;
  font-size: calc(calc(1vh + 1vw) * 3.5);
  line-height: 100%;
  text-transform: uppercase;
  font-family: playfair_reg;
}
@media (max-width: 1000px) {
  #block-4 h2 {
    font-size: calc(calc(1vh + 1vw) * 3);
  }
}
@media (max-width: 768px) {
  #block-4 h2 {
    font-size: calc(calc(1vh + 1vw) * 2.5);
  }
}
@media (max-width: 580px) {
  #block-4 h2 {
    font-size: calc(calc(1vh + 1vw) * 2);
  }
}
@media (max-width: 446px) {
  #block-4 h2 {
    font-size: calc(calc(1vh + 1vw) * 1.6);
  }
}
#block-4 h2 .ital {
  color: #FF4612;
  font-family: playfair_it;
}
/*

==================================================================================================================
-------------------------------------------------- block 5 -------------------------------------------------------
==================================================================================================================

*/
#block-5 .item-block-5 {
  margin-left: auto;
  width: 50%;
  text-transform: uppercase;
  text-align: center;
  font-family: HelveticaL;
  width: 400;
  font-size: calc(calc(1vh + 1vw) * 0.8);
}
#block-5 .item-block-5 span {
  color: #FFFFFF;
}
#block-5 .item-block-5 .first-title-block-5-colored-text {
  font-family: playfair_it;
  color: #FF4612;
}
#block-5 .first-title-block-5:nth-child(1) {
  text-align: center;
}
#block-5 .title-block-5 {
  text-transform: uppercase;
  font-family: playfair_reg;
  color: #FFFFFF;
  font-size: calc(calc(1vh + 1vw) * 3.5);
  text-align: center;
  margin: 0 auto;
  margin-top: 100px;
}
#block-5 .title-block-5 span:nth-child(1) {
  color: #FF4612;
  font-family: playfair_it;
}
#block-5 .title-block-5 span:nth-child(2) {
  font-family: playfair_it;
}
#block-5 .info-block-5 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: 80px;
}
#block-5 .info-item-block-5 {
  color: #FFFFFF;
  max-width: 385px;
  width: 100%;
}
#block-5 .info-item-block-5 .item-titile-block-5 {
  font-family: playfair_it;
  font-size: calc(calc(1vh + 1vw) * 1);
  text-transform: uppercase;
}
#block-5 .info-item-block-5 .info-text-block-5 {
  margin-top: 15px;
  font-size: calc(calc(1vh + 1vw) * 0.7);
  font-family: playfair_reg;
  color: #8F969E;
}
@media (max-width: 1024px) {
  #block-5 .info-text-block-5 {
    max-width: 90%;
  }
}
@media (max-width: 900px) {
  #block-5 .info-block-5 {
    flex-wrap: wrap;
  }
  #block-5 .info-item-block-5 {
    margin-top: 25px;
    width: 50%;
  }
}
@media (max-width: 640px) {
  #block-5 .info-block-5 {
    flex-wrap: wrap;
    justify-content: center;
  }
  #block-5 .info-item-block-5 {
    margin-top: 25px;
    width: 100%;
  }
}
